.frame
  %h1 Becoming a digital maker
  .date-posted Posted on 20/5/2012

  :markdown
    I've been sucking up the internet for years now. First, it was to
    learn about and obtain rare vinyl, now it is my starting point
    for any information need I have. I'm reading alot more, I'm
    learning alot more and I'm trying not to be just a graphic
    designer.

    As a graphic designer who comes from a drawing background, I spent my early
    adulthood not bothering to learn about what makes the internet. I avoided an
    early career in Flash. I retreated to my bedroom to look at Agnes Martin
    monographs, then went and lived in another part of the world until I turned 30,
    and spent my time collecting (vinyl) rather than learning and making. I had my
    CSS Aha! moment only last May.

    It seems I t the Gen X model where I've been sceptical & slow on the uptake
    rather than jumping in to *make*.

    In my recent move to freelance again, I feel the need to *make* and that making
    needs to be digital. But how does a graphic designer who's always been
    exceedingly attentive to detail and can't yet code what's in his head, learn to
    publish with some Tumblr theme that doesn't quite t what I have in mind? I've
    got customise it, to make it perfect, and future-proof it. Well, I've been coding
    for only the past year and I've tried and I now know that's not going to happen.
    6 months will go by fruitlessly and easily.

    I've been sucking up the internet for years now. First, it was to
    learn about and obtain rare vinyl, now it is my starting point
    for any information need I have. I'm reading alot more, I'm
    learning alot more and I'm trying not to be just a graphic
    designer.

    As a graphic designer who comes from a drawing background, I spent my early
    adulthood not bothering to learn about what makes the internet. I avoided an
    early career in Flash. I retreated to my bedroom to look at Agnes Martin
    monographs, then went and lived in another part of the world until I turned 30,
    and spent my time collecting (vinyl) rather than learning and making. I had my
    CSS Aha! moment only last May.

    It seems I t the Gen X model where I've been sceptical & slow on the uptake
    rather than jumping in to *make*.

    In my recent move to freelance again, I feel the need to *make* and that making
    needs to be digital. But how does a graphic designer who's always been
    exceedingly attentive to detail and can't yet code what's in his head, learn to
    publish with some Tumblr theme that doesn't quite t what I have in mind? I've
    got customise it, to make it perfect, and future-proof it. Well, I've been coding
    for only the past year and I've tried and I now know that's not going to happen.
    6 months will go by fruitlessly and easily.
