- @body_class = "journal-picture"

%nav#relative
  .container
    .header
      %a.on{:href => "/journal"} Journal
    .menu
      %a{:href => "/home"} Home
      %a{:href => "/work"} Work
      %a{:href => "/journal"} Journal
      %a{:href => "/profile"} Profile

.container
  %article
    %h1 Headline, possible link
    .picture
      %h1
        %img.landscape{:src => "/assets/images/Notice_120418_02-960.jpg", :alt => "Day's end"}