- @body_class = "journal-picture"

%nav
  .location
    %a.first{:href => "/work"} Journal
  .menu
    %a.first{:href => "/journal"} Journal
    %a{:href => "/profile"} Profile
    %a{:href => "/home"} Home
    %a.last{:href => "/work"} Work

%section.pic
  %article
    %h1 Headline, possible link
    .picture
      %h1
        %img.landscape{:src => "/assets/images/Notice_120418_02-960.jpg", :alt => "Day's end"}