- @body_class = "journal-picture"

.frame.menu
  %nav
    %a{:href => "/journal"} Index
    %a{:href => "/journal/a-paraphrased-sterling-article"} Next
    %a.last{:href => "/journal/i-thought-you-were-my-lady"} Previous

.frame
  %header
    %a{:href => "/"} Journal
  %article
    %h2 Headline, possible link
    .picture
      %h1
        %img.landscape{:src => "/assets/images/Notice_120418_02-960.jpg", :alt => "Day's end"}