- @body_class = "journal-picture"

%nav
  .location
    %a.first{:href => "/work"} Journal
  .menu
    %a.first{:href => "/journal"} Journal
    %a{:href => "/home"} Home
    %a{:href => "/work"} Work
    %a.spaced{:href => "/profile"} Profile

%section.first.pic
  %article
    %h1.anchor Day's end
    .paths
      %a.arrow{:href => "/journal"} Index
  
  %img{:src => "/assets/images/Notice_120418_02-960.jpg", :alt => "Day's end"}