- @body_class = "journal-picture"

.frame
  .centred
    .landscape-picture
      = image_tag "Notice_120418_02.jpg"
  .caption
    %h1 
      %a{:href => "http://inbetweenings.tumblr.com/"} View more on my inbetweenings tumblr. 
    %h3.date.picture April 18, 2012
    / %a{:href => "/journal/i-thought-you-were-my-lady"}
    /   .next
    / %a{:href => "/journal/i-thought-you-were-my-lady"}
    /   .previous