- @body_class = "journal-picture"

%nav
  .location
    %a.first{:href => "/work"} Journal
  .menu
    %a.first{:href => "/journal"} Journal
    %a{:href => "/profile"} Profile
    %a{:href => "/home"} Home
    %a.last{:href => "/work"} Work

%section.pic  
  %article
    %h2 Headline, possible link
    .picture
      %h1
        %img.portrait{:src => "/assets/images/Notice_120404~03.jpg", :alt => "I thought you were my lady"}