- @body_class = "journal-picture"

%nav
  .location
    %a.first{:href => "/work"} Journal
  .menu
    %a.first{:href => "/journal"} Journal
    %a{:href => "/home"} Home
    %a{:href => "/work"} Work
    %a.last{:href => "/profile"} Profile

%section.first
  %article
    %h1 I thought you were my lady
    .paths
      %a.arrow{:href => "/journal"} Index
  
  %img.portrait{:src => "/assets/images/Notice_120404~03.jpg", :alt => "I thought you were my lady"}