- @body_class = "journal-picture"

%nav
  %h1
    .location
      %a{:href => "/journal"} 
        Journal
        %span.em ——
        12.11.29
    .menu
      %a{:href => "/home"} Home
      %a.spaced.selected{:href => "/journal"} Journal
      %a.spaced{:href => "/profile"} Profile

%section

  %a.img{:href => "http://inbetweenings.tumblr.com/"}
    %img{:src => "/assets/images/days-end.jpg", :alt => "Inbetweenings: a tumblr blog"}
  
  %article
    %h2 
      %a{:href => "http://inbetweenings.tumblr.com"} Inbetweenings: a tumblr blog
    %p 
      I enjoy taking note of the small things I see when I'm out walking or staring idle. 
      %a{:href => "http://inbetweenings.tumblr.com/"} The resultant pics were a good reason to begin a tumblr blog, 
      which I'm updating whenever I see something interesting, posted unedited, uncropped, directly from my iPhone. What are the pictures of? They're of things inbetween, if you will.
