.carousel
    //%img{:src => "/assets/images/roundtable-birds-1200.jpg", :alt => ""}
    %a{:href => "##millennius"}
        .banner
            %ul
                %li.yellow1
                    .inner This is a slide.
                %li.yellow2 This is another slide.
                %li.yellow3 This is a final slide.