.carousel
    //%img{:src => "/assets/images/roundtable-birds-1200.jpg", :alt => ""}
    %a{:href => "##millennius"}
        .banner
            %ul
                %li.pink1 This is a slide.
                %li.pink1 This is another slide.
                %li.pink1 This is a final slide.
