%figure
    .textColumn.contentCenter
        %p
            Thanks for making it this far down. You can:
            %br
            %a{:href => "#top"} go back up,
            %a{:href => "/about"} read about my approach,
            or
            %a{:href => "mailto:callumflack@gmail.com"} get in touch.

        %p.attention
            Get a thoughtful designer's perspective in your inbox.
            Signup to a newsletter about noticing things inbetween.

            =partial "subscribeSeparate"