.content
    .gallery.autoplay.items-4

        %figure.item.title-1
            %img{:src => "/assets/images/roundtable-birds-1200.jpg", :alt => ""}
        %figure.item.title-2
            %img{:src => "/assets/images/roundtable-orion-01.jpg", :alt => ""}
        %figure.item.title-3.u-textRight
            %img{:src => "/assets/images/roundtable-niente.jpg", :alt => ""}
        %figure.item.title-4.u-textLeft
            %img{:src => "/assets/images/roundtable-marinetti.jpg", :alt => ""}
