.gallery.items-3.autoplay
    %figure.item.title-1
        %img{:src => "/assets/images/hi-poster-12002.jpg", :alt => ""}
    %figure.item.title-2
        %img{:src => "/assets/images/hi-poster-1200.jpg", :alt => ""}
    %figure.item.title-3
        %img{:src => "/assets/images/DP-Medical.jpg", :alt => ""}