.gallery.items-3.autoplay
    .control-operator#item-1
    .control-operator#item-2
    .control-operator#item-3

    %figure.item.title-1
        %img{:src => "/assets/images/hi-poster-12002.jpg", :alt => ""}
    %figure.item.title-2
        %img{:src => "/assets/images/hi-poster-1200.jpg", :alt => ""}
    %figure.item.title-3
        %img{:src => "/assets/images/DP-Medical.jpg", :alt => ""}

    .controls
        %a.control-button{:href => "#item-1"} •
        %a.control-button{:href => "#item-2"} •
        %a.control-button{:href => "#item-3"} •
