%nav.scroll-nav
	.scroll-nav__wrapper
		%ol.scroll-nav__list

			%li.scroll-nav__item
				%a.scroll-nav__link#scroll-start{:href => "##start"}
					%span
			%li.scroll-nav__item
				%a.scroll-nav__link#scroll-one{:href => "##one"}
					%span
			%li.scroll-nav__item
				%a.scroll-nav__link#scroll-two{:href => "##two"}
					%span
			%li.scroll-nav__item
				%a.scroll-nav__link#scroll-three{:href => "##three"}
					%span
			%li.scroll-nav__item
				%a.scroll-nav__link#scroll-four{:href => "##four"}
					%span
			%li.scroll-nav__item
				%a.scroll-nav__link#scroll-five{:href => "##five"}
					%span
			%li.scroll-nav__item
				%a.scroll-nav__link#scroll-end{:href => "##end"}
					%span