.content-info
    .u-alignVertHold.u-alignVertHold--halfRight
        .u-alignVert
            %img.u-alignCenter.u-marginBm{:src => "assets/images/nextArrow.png", :alt => ""}
            %p.text--next Next