- @body_class = "about"


%nav.color-reverse
    %a.left{:href => "/home"}
        %i.icon-arrow_left
        Home
    %a.right{:href => "/work"}
        Work
        %i.icon-arrow_right
    %a{:href => "/about"}
        Callum Flack · About


%article
    %section
        .cover-column
            %header.grid
                %h1.billboard
                    %span A designer who codes


    %section
        .text-column
            %h1.links
                Contact me by
                %a{:href => "mailto:callumflack@gmail.com"} Email
                or
                %a{:href => "https://twitter.com/callumflack"} Twitter

            :markdown
                I design and build communications for page, screen and spaces
                by focussing on Why, not What.

                Why? Because our attention is under siege. A clear, relevant voice
                is a memorable relief.

                Yet clarity is often mistaken for simplicity. Effortless relevance requires
                partnership, questioning, feedback, seeing multiple viewpoints, and the challenge
                of focus and elimination. Opportunities always arise in this process, and an agile,
                collaborative trust helps to make best use of them.

                This is why I work best when I'm engaged to define the purpose at the beginning:
                design is not just how it looks but how it works.

            %h3 The work in context

            :markdown
                Since turning thirty, I've become interested in how our online 'projected' self is
                competing with our offline 'physical' self, so I immersed myself in the design of
                digital products and taught myself to code.

                I think that we're at a very early stage in this post-industrial information age.
                All of it is systems design, so we can't yet know how one solution will affect another.
                Small bets are going to give more manageable results. Thoughtful, reflective design
                will produce more useful, sustainable products.

                My goal is to create work that’s elegantly effective, for today and tomorrow.

            %h3 About

            :markdown
                I live in Melbourne, Australia with my wife and young daughter, where I also collect
                [vinyl of all kinds] (https://sites.google.com/site/coloronetear/ "A decade of soul 45 mixtapes"),
                read about software eating the world, and try to practise unwired boredom.

                I've worked in Brisbane, London and now Melbourne for 5 years each, but I've also lived in
                Asia and the tropics for half my life. I've never won any awards but I've seen alot of the world.

                I designed and coded this site using a Ruby On Rails app that my friend
                [Bobes Tuzinsky] (http://tuzinsky.com/ "Bobes Tuzinsky") made for me.

                All words and pictures shown here are © Callum Flack 1998–2013.

            %h3 Contact

            :markdown
                Everything starts with a conversation.
                Want to chat? [Hit me up, I'm mostly polite.](mailto:callumflack@gmail.com "Email")
                Got any opinion? [Share it.] (https://twitter.com/callumflack "Twitter")
                Want to link up? [Stay in touch.](http://au.linkedin.com/in/callumflack "LinkedIn")
                Like what you read here? [Subscribe to my blog posts.](https://twitter.com/callumflack "Subscribe")


            = partial "footer"

