- @body_class = "about"

%header
    %nav
        %a{:href => "/"}
            Callum Flack
            %br
            Design + Code
            %br
        %a.selected{:href => "/about"} About
        %span &nbsp;.&nbsp;&nbsp;&nbsp;
        / %a{:href => "/blog"} Blog
        / %span &nbsp;.&nbsp;&nbsp;&nbsp;
        %a{:href => "mailto:callumflack@gmail.com"} Contact

%article
    %section
        .textColumn.contentCenter
            %img{:src => "assets/images/IMG_0129-1.jpg", :alt => "Inbetweenings, a tumblr blog"}
            %h1
                Callum Flack is a designer who codes.
                %br
                %span
                    Get in touch:
                    %a{:href => "mailto:callumflack@gmail.com"} Email,
                    %a{:href => "https://twitter.com/callumflack"} Twitter,
                    %a{:href => "https://github.com/callumflack"} Github,
                    %a{:href => "http://dribbble.com/callumflack"} Dribble
                    or
                    %a{:href => "http://www.linkedin.com/in/callumflack"} Linkedin.

            :markdown

                I design and build communications for screen, page and spaces
                by focussing on Why, not What.

                Clarity is often mistaken for simplicity. Rather, effortless relevance requires
                partnership, questioning, feedback, seeing multiple viewpoints, and the challenge
                of focus and elimination. Opportunities always arise in this process, and agile
                collaboration helps to make best use of them.

                This is why I work best when I'm engaged to define the purpose at the beginning:
                design is not just how it looks but how it works.

                And I'm a designer who codes. I'm proficient in HTML, CSS and Javascript so I can
                not only implement "pixel-perfect" interfaces but also design them to maximise the
                user experience and build them using the right method for the situation.
                To know more, follow me on [Github] (https://github.com/callumflack).

                I am a thoughtful, reflective designer trying to make useful, sustainable products.
                My goal is to create work that’s elegantly effective, for today and tomorrow.

            %p.attention
                %span Announcing Things Inbetween.
                An infrequent newsletter about noticing the details and seeing them within larger patterns.
                In an attempt to build a cult following, I'm putting up a social promise…

            = partial "subscribeSeparate"

            :markdown

                I live in Melbourne, Australia with my wife and young daughter, where I also collect
                [vinyl records of all kinds] (https://sites.google.com/site/coloronetear/ "A decade of soul 45 mixtapes"),
                read about software eating the world, and try to practise unwired boredom.

                I designed and coded this site using a Sinatra Rails application deployed using Heroku.
                All words and pictures shown ©Callum Flack 1998-2013.
