%aside
  %h2 Further articles
  %p  
    %a{:href => "/journal/i-thought-you-were-my-lady"} This is another article I've written
  %p
    %a{:href => "/journal/i-thought-you-were-my-lady"} Twitter is a riddle    
  %p
    %a{:href => "/journal/i-thought-you-were-my-lady"} This here's another thing I wot wrote
          
%footer
  %form{:action => "http://callumflackdesign.createsend.com/t/r/s/xjrurh/", :method => "post", :id => "subscribe"}
    %input{:type => "text", :name => "cm-xjrurh-xjrurh", :id => "xjrurh-xjrurh", :placeholder => "Add your email"}
    %input{:type => "submit", :value => "Subscribe"}
  %nav
    &copy;2012 Callum Flack
    &nbsp;|&nbsp;
    %a{:href => "mailto:callumflack@gmail.com"} Email
    &nbsp;|&nbsp;
    %a{:href => "https://twitter.com/callumflack"} Twitter
    / = link_tag "twitter", "https://twitter.com/callumflack"
