- @body_class = "home"

%section  
  %a{:href => "/work/weird-gear"}
    %h1 
      New work
      %span.em ——
      3 new LPs for Roundtable Records
  %img{:src => "assets/images/Eggleston.jpg", :alt => "Eggleston"}
  
%section
  %a{:href => "/journal/a-paraphrased-sterling-article"}
    %h1
      New journal article
      %span.em ——
      Design as deliverable and plan
  %img{:src => "assets/images/dicorcia.jpg", :alt => "alt"}
    
%section
  %a{:href => "/profile"}
    %h1
      Profile
      %span.em ——
      Callum Flack is a graphic designer
  %img{:src => "assets/images/profile.jpg", :alt => "alt"}