- @body_class = "home"

.slideshow
  .slide.active
    .frame
      %h1.home
        = link_tag "I design elegant, effective experiences for print & screen.", "/journal/a-paraphrased-sterling-article"
      %p.date June 11, 2012
  .slide= snippet "slides/slide1"
  /.slide= snippet "slides/slide2"
  /.slide= snippet "slides/slide3"
  .slide= snippet "slides/slide5"