- @body_class = "home"

%header
  %nav
    %a{:href => "/"} Callum Flack

.frame
  
  %article
    %a{:href => "/work/weird-gear"}
      %h1 Work: 3 new LPs for Madhuti
    %a{:href => "/work"}
      %img{:src => "assets/images/Eggleston.jpg", :alt => "Eggleston"}