- @body_class = "home"

%header
.container

  %nav
    .location
      %a.first{:href => "/work"} Callum Flack is a Graphic Designer
    .menu
      %a.first{:href => "/home"} Home
      %a{:href => "/work"} Work
      %a{:href => "/journal"} Journal
      %a.last{:href => "/profile"} Profile

  %section.pic
    
    %article
      %a{:href => "/work/weird-gear"}
        %h1 
          New work
          %span.em ——
          3 new LPs for Madhuti
      %img{:src => "assets/images/Eggleston.jpg", :alt => "Eggleston"}
    
    %article
      %a{:href => "/journal/a-paraphrased-sterling-article"}
        %h1 
          New journal article
          %span.em ——
          Design as deliverable and plan
      %img{:src => "assets/images/dicorcia.jpg", :alt => "alt"}
        
    %article
      %a{:href => "/profile"}
        %h1 
          Profile
          %span.em ——
          Callum Flack, designing
      %img{:src => "assets/images/profile.jpg", :alt => "alt"}