- @body_class = "home"

.slideshow
  .slide.active
    .frame
      %a{:href => "/profile"}
        %h1.title 
          Designing 
          %br
          elegantly & effectively
          %br
          / experiences 
          / %br
          for print & screen.
        %p.link-home Read my profile & working process.
          
  .slide= snippet "slides/slide-home-rt"        

  .slide
    .frame
      %a{:href => "/journal/a-paraphrased-sterling-article"}
        %h2 Journal Article
        %h1.title 
          A building made of small subjective decisions.
        %p.link-home Read why designing a narrative is like Brand Identities are products too.
  
  .slide= snippet "slides/slide5"