- @body_class = "home"

%nav
  %h1
    .location
      %a{:href => "/home"} 
        Callum Flack is a Graphic Designer
    .menu
      %a{:href => "/work"} Work
      %a.spaced{:href => "/journal"} Journal
      %a.spaced{:href => "/profile"} Profile

%section
  %a{:href => "/work"}
    %img{:src => "assets/images/hi-poster.jpg", :alt => "Callum Flack says hi"}