- @body_class = "work"

%nav
  .location
    %h1
      %a{:href => "/home"} 
        Callum Flack is a graphic designer
  .menu
    %h1
      %a.selected{:href => "/home"} Work
      %a.spaced{:href => "/journal"} Journal
      %a.spaced{:href => "/profile"} Profile

%section

  %article

    %a.project{:href => "/work/roundtable-records", :alt => "Roundtable Records"}
      %img{:src => "assets/images/roundtable-318-00.jpg", :alt => "Roundtable Records"}
      .caption
        %h2 Roundtable Records
        %p Art direction, Identity

    %a.project{:href => "/work/weird-gear", :alt => "Weird Gear"}
      %img{:src => "assets/images/roundtable-318-00.jpg", :alt => "Weird Gear"}
      .caption
        %h2 Weird Gear
        %p Art direction, Identity
      
    %a.project.last{:href => "/work/roundtable-records", :alt => "Roundtable Records"}
      %img{:src => "assets/images/roundtable-318-00.jpg", :alt => "Roundtable Records"}
      .caption
        %h2 Roundtable Records
        %p Art direction, Identity
        
  %article

    %a.project{:href => "/work/roundtable-records", :alt => "Roundtable Records"}
      %img{:src => "assets/images/roundtable-318-00.jpg", :alt => "Roundtable Records"}
      .caption
        %h2 Roundtable Records
        %p Art direction, Identity

    %a.project{:href => "/work/weird-gear", :alt => "Weird Gear"}
      %img{:src => "assets/images/roundtable-318-00.jpg", :alt => "Weird Gear"}
      .caption
        %h2 Weird Gear
        %p Art direction, Identity
      
    %a.project.last{:href => "/work/roundtable-records", :alt => "Roundtable Records"}
      %img{:src => "assets/images/roundtable-318-00.jpg", :alt => "Roundtable Records"}
      .caption
        %h2 Roundtable Records
        %p Art direction, Identity
        
  %article

    %a.project{:href => "/work/roundtable-records", :alt => "Roundtable Records"}
      %img{:src => "assets/images/roundtable-318-00.jpg", :alt => "Roundtable Records"}
      .caption
        %h2 Roundtable Records
        %p Art direction, Identity

    %a.project{:href => "/work/weird-gear", :alt => "Weird Gear"}
      %img{:src => "assets/images/roundtable-318-00.jpg", :alt => "Weird Gear"}
      .caption
        %h2 Weird Gear
        %p Art direction, Identity
      
    %a.project.last{:href => "/work/roundtable-records", :alt => "Roundtable Records"}
      %img{:src => "assets/images/roundtable-318-00.jpg", :alt => "Roundtable Records"}
      .caption
        %h2 Roundtable Records
        %p Art direction, Identity
        
