- @body_class = "home"

%header
  %nav
    %a{:href => "/"} Callum Flack is a designer.

.frame
  
  %article
    .item
      %a{:href => "/work/weird-gear"}
        %h1 Work — 3 new LPs for Madhuti
      %a{:href => "/work"}
        %img{:src => "assets/images/Eggleston.jpg", :alt => "Eggleston"}
    
    .item
      %a{:href => "/journal/a-paraphrased-sterling-article"}
        %h1 Journal — Design as deliverable and plan
      %a{:href => "/journal"}
        %img{:src => "assets/images/dicorcia.jpg", :alt => "alt"}
        
    .item
      %a{:href => "/profile"}
        %h1 Profile — Callum Flack Design
      %a{:href => "/profile"}
        %img{:src => "assets/images/profile.jpg", :alt => "alt"}