- @body_class = "home"

.frame.menu
  %nav
    %a{:href => "/work"} Work
    %a{:href => "/journal"} Journal
    %a.last{:href => "/profile"} Profile

.frame
  %header
    %a{:href => "/"} Callum Flack
  %article
    %h1.landscape-picture
      = image_tag "Notice_120418_02-960.jpg"