- @body_class = "home"

.slide.active
  .frame
    %a{:href => "/profile"}
      %h1.title 
        Designing 
        %br
        elegantly & effectively
        %br
        / experiences 
        / %br
        for print & screen.
      %p.link-home Read my profile & working process.