- @body_class = "home"

.container

  %nav
    .location
      %a.on{:href => "/work"} Callum Flack is a Graphic Designer.
    .menu
      %a.on{:href => "/home"} Home
      %a{:href => "/work"} Work
      %a{:href => "/journal"} Journal
      %a{:href => "/profile"} Profile

  %section
    
    %article.post
      %h1 
        %a{:href => "/work/weird-gear"} New work: 3 new LPs for Madhuti
      %a{:href => "/work"}
        %img{:src => "assets/images/Eggleston.jpg", :alt => "Eggleston"}
    
    %article.post
      %h1 
        %a{:href => "/journal/a-paraphrased-sterling-article"} New journal article: Design as deliverable and plan
      %a{:href => "/journal"}
        %img{:src => "assets/images/dicorcia.jpg", :alt => "alt"}
        
    %article.post
      %h1 
        %a{:href => "/profile"} Profile: Callum Flack, designing
      %a{:href => "/profile"}
        %img{:src => "assets/images/profile.jpg", :alt => "alt"}