- @body_class = "home"

%header#start
    %nav
        %h1
            %a{:href => "/"}
                Callum Flack is a designer who codes.
        %p
            I design and build communication products for screen and page
            by focussing on Why, not What.
        %p
            I believe that:
        %ol
            %li Ideas are easy. Execution makes the thing.
            %li Clarity is what shows above an iceberg of focus and elimination. Clarity, not simplicity, is the aim.
            %li Seeing multiple viewpoints demystifies blah blah blah.
        %p
            Talk to me:
            %a{:href => "mailto:callumflack@gmail.com"} email,
            %a{:href => "https://twitter.com/callumflack"} twitter,
            %a{:href => "https://github.com/callumflack"} github,
            or
            %a{:href => "http://www.linkedin.com/in/callumflack"} linkedin.
        %p
            %br
            %a{:href => "##roundtable"} View a work primer


%section#roundtable
    = partial "carousel-yellow"
    = partial "info-yellow"

%section#millennius
    = partial "carousel-pink"
    = partial "info-pink"
