- @body_class = "home"

= partial "work/modal-welend"
= partial "scrollnav"

.container
    %header#start
        .columnText
            %h1 Callum Flack is a designer who codes.
            
            %p.textBold.textLg
                I design and develop identities and products for screen and page by focussing on Why, not What.

            %p
                At it since 2000, I have a holistic skill set: from art direction, brand identity design, editorial design and typography to user experience design, interface design, front-end development with mobile integration, interaction design and content strategy. I believe that:

            %ul
                %li.List-number-one Differentiation usually occurs from unexpected insight. Insight requires exploration, conversation, knowhow, iteration and grit.
                %li.List-number-two Clarity results from focus and elimination. Clarity, not simplicity, is the aim.
                %li.List-number-three Seeing it as designer, as user and as a system helps find connections. Connections are where meaning lies.
            %p
                I can be contacted via:
                %a{:href => "mailto:callumflack@gmail.com"} email,
                %a{:href => "https://twitter.com/callumflack"} twitter,
                %a{:href => "https://github.com/callumflack"} github,
                %a{:href => "http://www.linkedin.com/in/callumflack"} linkedin.

            .nextProject
                / %button.Button.Button--clear
                / %a{:href => "##one"} &#8595; Five reasons why you should hire me
                %a{:href => "##one"} Five reasons why I'm all that

    %section#one    
        = partial "work/reason-one"

    %section#end
        = partial "work/end"

