- @body_class = "journal-list"

.frame
  %h2.title 
    = link_tag "Journal", "/journal"

  %a.log{:href => "/journal/a-paraphrased-sterling-article"}  
    %h1 A paraphrased Sterling article
    / %h3 Saturday July 21, 2012
    %p 
      I want to share the story behind approximately $2700 dollars worth of my spending this year that reveals how  
      I am finally starting to leave the middle class, materially, financially and psychologically. No, I am not  
      moving up into the rich class or down into the poor class. I am doing something complicated called trading  
      up.
      %span Read more

  %a.log.picture{:href => "/journal/i-thought-you-were-my-lady", :alt => "I thought you were my lady"}
    %img.centred.portrait-list{:src => "assets/images/Notice_120404~03.jpg", :alt => "I thought you were my lady"}
    .picture-caption
      %h1 I thought you were my lady
      %h3 Saturday July 21, 2012
  
  %a.log{:href => "/journal/a-paraphrased-sterling-article"}  
    %h1 A paraphrased Sterling article
    %h3 Saturday July 21, 2012
    %p 
      I want to share the story behind approximately $2700 dollars worth of my spending this year that reveals how  
      I am finally starting to leave the middle class, materially, financially and psychologically. No, I am not  
      moving up into the rich class or down into the poor class. I am doing something complicated called trading  
      up.
      %span Read more

  %a.log.picture{:href => "/journal/days-end", :alt => "Day's end"}
    %img.centred.landscape-list{:src => "assets/images/Notice_120418_02.jpg", :alt => "Day's end"}
    .picture-caption
      %h1 Expectrum Petronus!
      %h3 Saturday July 21, 2012
      
  %a.log{:href => "/journal/a-paraphrased-sterling-article"}  
    %h1 A paraphrased Sterling article
    %h3 Saturday July 21, 2012
    %p 
      I want to share the story behind approximately $2700 dollars worth of my spending this year that reveals how  
      I am finally starting to leave the middle class, materially, financially and psychologically. No, I am not  
      moving up into the rich class or down into the poor class. I am doing something complicated called trading  
      up.
      %span Read more

  %a.log.picture{:href => "/journal/i-thought-you-were-my-lady", :alt => "I thought you were my lady"}
    %img.centred.portrait-list{:src => "assets/images/Notice_120404~03.jpg", :alt => "I thought you were my lady"}
    .picture-caption
      %h1 January Jones
      %h3 Saturday July 21, 2012
      
  %a.log.picture{:href => "/journal/days-end", :alt => "Day's end"}
    %img.centred.landscape-list{:src => "assets/images/Notice_120418_02.jpg", :alt => "Day's end"}
    .picture-caption
      %h1 Expectrum Petronus!
      %h3 Saturday July 21, 2012
      
  %a.log.picture{:href => "/journal/i-thought-you-were-my-lady", :alt => "I thought you were my lady"}
    %img.centred.portrait-list{:src => "assets/images/Notice_120404~03.jpg", :alt => "I thought you were my lady"}
    .picture-caption
      %h1 Day's end
      %h3 Saturday July 21, 2012

  %a.log.picture{:href => "/journal/days-end", :alt => "Day's end"}
    %img.centred.landscape-list{:src => "assets/images/Notice_120418_02.jpg", :alt => "Day's end"}
    .picture-caption
      %h1 Milford Junior Symes
      %h3 Saturday July 21, 2012