- @body_class = "journal-list"

%nav
  .location
    %h1
      %a{:href => "/journal"} 
        Journal
  .menu
    %h1
      %a{:href => "/home"} Home
      %a.spaced{:href => "/journal"} Journal
      %a.spaced{:href => "/profile"} Profile

%section

  %a{:href => "/journal/a-paraphrased-sterling-article"}
    %article
      %h1.title A paraphrased Sterling article
      %p       
        I want to share the story behind approximately $2700 dollars worth of my spending this year that reveals
        how I am finally starting to leave the middle class, materially, financially and psychologically. I am
        doing something complicated called trading up.
        %span Read more

  %a{:href => "/journal/i-thought-you-were-my-lady"} 
    %article    
      %h1.title
        %span Things inbetween: a tumblr blog
      %img.portrait{:src => "assets/images/Notice_120404~03.jpg", :alt => "I thought you were my lady"}

  %a{:href => "/journal/a-paraphrased-sterling-article"}
    %article
      %h1
        %span A paraphrased Sterling article
      %p       
        I want to share the story behind approximately $2700 dollars worth of my spending this year that reveals
        how I am finally starting to leave the middle class, materially, financially and psychologically. I am
        doing something complicated called trading up.

  %a{:href => "/journal/days-end"}
    %article
      %h1
        %span Things inbetween: a tumblr blog
      %img.landscape{:src => "assets/images/Notice_120418_02.jpg", :alt => "Day's end"}

  %a{:href => "/journal/i-thought-you-were-my-lady"} 
    %article    
      %h1
        %span Things inbetween: a tumblr blog
      %img.portrait{:src => "assets/images/Notice_120404~03.jpg", :alt => "I thought you were my lady"}

  %a{:href => "/journal/days-end"}
    %article
      %h1.header Things inbetween: a tumblr blog
      %img.landscape{:src => "assets/images/Notice_120418_02.jpg", :alt => "Day's end"}

  %a{:href => "/journal/a-paraphrased-sterling-article"}
    %article
      %h1.header A paraphrased Sterling article
      %p       
        I want to share the story behind approximately $2700 dollars worth of my spending this year that reveals
        how I am finally starting to leave the middle class, materially, financially and psychologically. I am
        doing something complicated called trading up.
        %span Read more

  %a{:href => "/journal/a-paraphrased-sterling-article"}
    %article
      %h1.header A paraphrased Sterling article
      %p       
        I want to share the story behind approximately $2700 dollars worth of my spending this year that reveals
        how I am finally starting to leave the middle class, materially, financially and psychologically. I am
        doing something complicated called trading up.
        %span Read more

  %a{:href => "/journal/days-end"}
    %article
      %h1.header Things inbetween: a tumblr blog
      %img.landscape{:src => "assets/images/Notice_120418_02.jpg", :alt => "Day's end"}


%footer
  %aside.links
    %a.next{:href => "/journal"} Load more posts
  
  
  
  