- @body_class = "journal"

.frame

  .log
    %h1
      = link_tag "A paraphrased Sterling article", "/journal/a-paraphrased-sterling-article"
    %p.date June 11, 2012
    %p
      I want to share the story behind approximately $2700 dollars worth of my spending this year that reveals how
      I am finally starting to leave the middle class, materially, financially and psychologically. No, I am not
      moving up into the rich class or down into the poor class. I am doing something complicated called trading
      up. This $2700 is money that, if I’d decided to pull the trigger and spend it a few months earlier, would
      have spared me a ton of unnecessary frustration. Why didn’t I spend it when I should have?
      = link_tag "read more", "/journal/a-paraphrased-sterling-article", :class =>  "more"

  .log
    %h1 
      = link_tag "Acting Dead, Trading Up and Leaving the Middle Class", "/journal/a-paraphrased-sterling-article"
    %p.date June 11, 2012
    %p
      I want to share the story behind approximately $2700 dollars worth of my spending this year that reveals how
      I am finally starting to leave the middle class, materially, financially and psychologically. No, I am not
      moving up into the rich class or down into the poor class. I am doing something complicated called trading
      up. This $2700 is money that, if I’d decided to pull the trigger and spend it a few months earlier, would
      have spared me a ton of unnecessary frustration. Why didn’t I spend it when I should have?
      = link_tag "read more", "/journal/a-paraphrased-sterling-article", :class =>  "more"

  .log
    / %h1 
    /   = link_tag "I thought you were my lady", "/journal/i-thought-you-were-my-lady"
    %a{:href => "/journal/i-thought-you-were-my-lady", :alt => "I thought you were my lady"}
      %img.centred.portrait.post-list{:src => "assets/images/Notice_120606~02.jpg", :alt => "I thought you were my lady"}
    %p.date June 11, 2012

  .log
    / %h1 
    /   = link_tag "Day's end", "/journal/days-end"
    %a{:href => "/journal/days-end", :alt => "Day's end"}
      %img.centred.landscape.post-list{:src => "assets/images/Notice_120418_02.jpg", :alt => "Day's end"}
    %p.date June 11, 2012  