- @body_class = "journal-list"

%nav
  %h1
    / .location
    /   %a{:href => "/journal"} Journal
    .menu
      %a{:href => "/work"} Work
      %a.spaced.selected{:href => "/journal"} Journal
      %a.spaced{:href => "/profile"} Profile

%section

  %a{:href => "/journal/inbetweenings"}
    %article
      %h2 
        %span.journal Things inbetween: a tumblr blog
      %img.landscape{:src => "assets/images/Notice-120418.jpg", :alt => "Inbetweenings, a tumblr blog"}

  / %a{:href => "/journal/a-paraphrased-sterling-article"}
  /   %article
  /     %h2 
  /       %span.journal A paraphrased Sterling article
  /     %p       
  /       I want to share the story behind approximately $2700 dollars worth of my spending this year that reveals
  /       how I am finally starting to leave the middle class, materially, financially and psychologically. I am
  /       doing something called trading up.
  /       %span.read-more Read more
  / 
  / %a{:href => "/journal/inbetweenings"}
  /   %article
  /     %h2
  /       %span.journal Things inbetween: a tumblr blog
  /     %img.landscape{:src => "assets/images/Notice-120418.jpg", :alt => "Inbetweenings, a tumblr blog"}
  / 
  / %a{:href => "/journal/inbetweenings"}
  /   %article
  /     %h2
  /       %span.journal Things inbetween: a tumblr blog
  /     %img.landscape{:src => "assets/images/Notice-120418.jpg", :alt => "Inbetweenings, a tumblr blog"}

        
%footer
  %h2
    Interested in knowing more?
  %p
    %a{:href => "mailto:callumflack@gmail.com"} Start a conversation with me to discuss a project.

  %form{:action => "http://callumflackdesign.createsend.com/t/r/s/xjrurh/", :method => "post", :id => "subscribe"}
    %input{:type => "text", :name => "cm-xjrurh-xjrurh", :id => "xjrurh-xjrurh", :placeholder => "Add your email"}
    %input{:type => "submit", :value => "Subscribe"}