- @body_class = "journal-list"

.container

  %nav
    .location
      %a.on{:href => "/work"} Journal
    .menu
      %a{:href => "/home"} Home
      %a{:href => "/work"} Work
      %a.on{:href => "/journal"} Journal
      %a{:href => "/profile"} Profile

  %section.text
    
    %article.post
      %h1 
        %a{:href => "/journal/a-paraphrased-sterling-article"} A paraphrased Sterling article
      %p       
        I want to share the story behind approximately $2700 dollars worth of my spending this year that reveals
        how I am finally starting to leave the middle class, materially, financially and psychologically. I am
        doing something complicated called trading up.
        %a{:href => "/journal/a-paraphrased-sterling-article"} Read more

    %article.post.picture
      %img.portrait{:src => "assets/images/Notice_120404~03.jpg", :alt => "I thought you were my lady"}
      %a{:href => "/journal/i-thought-you-were-my-lady"}
        %h1 Things inbetween: a tumblr blog

    %article.post
      %h1 
        %a{:href => "/journal/a-paraphrased-sterling-article"} A paraphrased Sterling article
      %p       
        I want to share the story behind approximately $2700 dollars worth of my spending this year that reveals
        how I am finally starting to leave the middle class, materially, financially and psychologically. I am
        doing something complicated called trading up.
        %a{:href => "/journal/a-paraphrased-sterling-article"} Read more

    %article.post.picture
      %img.portrait{:src => "assets/images/Notice_120418_02.jpg", :alt => "Day's end"}
      %a{:href => "/journal/days-end"}
        %h1 Things inbetween: a tumblr blog

    %article.post
      %h1 
        %a{:href => "/journal/a-paraphrased-sterling-article"} A paraphrased Sterling article
      %p       
        I want to share the story behind approximately $2700 dollars worth of my spending this year that reveals
        how I am finally starting to leave the middle class, materially, financially and psychologically. I am
        doing something complicated called trading up.
        %a{:href => "/journal/a-paraphrased-sterling-article"} Read more

    %article.post.picture
      %img.portrait{:src => "assets/images/Notice_120404~03.jpg", :alt => "I thought you were my lady"}
      %a{:href => "/journal/i-thought-you-were-my-lady"}
        %h1 Things inbetween: a tumblr blog

    %article.post.picture
      %img.portrait{:src => "assets/images/Notice_120418_02.jpg", :alt => "Day's end"}
      %a{:href => "/journal/days-end"}
        %h1 Things inbetween: a tumblr blog

    %article.post.picture
      %img.portrait{:src => "assets/images/Notice_120404~03.jpg", :alt => "I thought you were my lady"}
      %a{:href => "/journal/i-thought-you-were-my-lady"}
        %h1 Things inbetween: a tumblr blog

  %footer
    %h2
      %a{:href => "/journal"} Load more posts