- @body_class = "journal-posts"

.frame

  %a.log.picture{:href => "/journal/i-thought-you-were-my-lady", :alt => "I thought you were my lady"}
    %img.centred.portrait.post-list{:src => "assets/images/Notice_120404~03.jpg", :alt => "I thought you were my lady"}
    .caption
      %h1.picture I thought you were my lady
  
  %a.log{:href => "/journal/a-paraphrased-sterling-article"}  
    %h1 A paraphrased Sterling article
    %p 
      I want to share the story behind approximately $2700 dollars worth of my spending this year that reveals how  
      I am finally starting to leave the middle class, materially, financially and psychologically. No, I am not  
      moving up into the rich class or down into the poor class. I am doing something complicated called trading  
      up.
      %span Read more

  / %a.log{:href => "/journal/a-paraphrased-sterling-article"}  
  /   %h1 
  /     Acting Dead, Trading Up &
  /     %br
  /     Leaving the Middle Class
  /   %p
  /     I want to share the story behind approximately $2700 dollars worth of my spending this year that reveals how
  /     I am finally starting to leave the middle class, materially, financially and psychologically. No, I am not
  /     moving up into the rich class or down into the poor class. I am doing something complicated called trading
  /     up. 
  /     %span Read more
  / 
  / %a.log{:href => "/journal/a-paraphrased-sterling-article"}  
  /   %h1 A paraphrased Sterling article
  /   %p 
  /     I want to share the story behind approximately $2700 dollars worth of my spending this year that reveals how  
  /     I am finally starting to leave the middle class, materially, financially and psychologically. No, I am not  
  /     moving up into the rich class or down into the poor class. I am doing something complicated called trading  
  /     up.
  /     %span Read more
  / 
  / %a.log{:href => "/journal/a-paraphrased-sterling-article"}  
  /   %h1 A paraphrased Sterling article
  /   %p 
  /     I want to share the story behind approximately $2700 dollars worth of my spending this year that reveals how  
  /     I am finally starting to leave the middle class, materially, financially and psychologically. No, I am not  
  /     moving up into the rich class or down into the poor class. I am doing something complicated called trading  
  /     up.
  /     %span Read more

  %a.log.picture{:href => "/journal/i-thought-you-were-my-lady", :alt => "I thought you were my lady"}
    %img.centred.portrait.post-list{:src => "assets/images/Notice_120404~03.jpg", :alt => "I thought you were my lady"}
    .caption
      %h1.picture January Jones
  
  %a.log.picture{:href => "/journal/days-end", :alt => "Day's end"}
    %img.centred.landscape.post-list{:src => "assets/images/Notice_120418_02.jpg", :alt => "Day's end"}
    .caption
      %h1.picture Expectrum Petronus!
      
  %a.log.picture{:href => "/journal/i-thought-you-were-my-lady", :alt => "I thought you were my lady"}
    %img.centred.portrait.post-list{:src => "assets/images/Notice_120404~03.jpg", :alt => "I thought you were my lady"}
    .caption
      %h1.picture Day's end

  %a.log.picture{:href => "/journal/days-end", :alt => "Day's end"}
    %img.centred.landscape.post-list{:src => "assets/images/Notice_120418_02.jpg", :alt => "Day's end"}
    .caption
      %h1.picture Milford Junior Symes