- @body_class = "profile"

.frame
  %h1.title Callum, Designing
  %h3.date June 11, 2012
  
  %p.intro And they were tracking that and they were going to adopt that too. In other words, they were going to move the Fiat 500 into emergent demographic groups. This was the way forward. They were looking for emergent consumer groups and they were going to move the car into their social space year by year.
    
  :markdown
  
    Callum Flack creates visual messages relevant to a defined audience.

    He lives in Melbourne, Australia, but he has spent many years living 'overseas' in a diverse range of places. All of these experiences allow him to connect up more dots.

    He listens to his clients' needs, then customises a communication framework from the ground up. Because authenticity is the vital, unfakeable differentiator, his work relies on empathy & dialogue with his clients so that the work emerges from an awareness of the experiences of other people.

    He's INFJ/P, so he cares. And he's also a good wordsmith.

    He has a bachelor's degree in graphic design from Queensland College of Art, 1998. He has worked for George Patterson Bates, Brisbane (1999-2000), Saatchi Design, London (2006) and has freelanced for multiple Melbourne agencies including Precinct & Lifelounge.

    He also collects vinyl records of all kinds and runs Roundtable Records with good friends, and their releases are available around the world. You can listen to a ten year history of his soul 45 mixtapes here. These hair-brained efforts are another example of his passionate commitment to thoroughly understanding something, to chew it up, and not just quickly swallow it.

    He is active on a few social platforms including google+, twitter, linkedin, and flickr, but it's best to start a conversation by emailing him.

    Not now, maybe later? Add his vcard to your address book.
    
  %footer
    %h3 Comments? Get in touch on twitter
    %form{:action => "http://callumflackdesign.createsend.com/t/r/s/xjrurh/", :method => "post", :id => "subscribe"}
      %input{:type => "text", :name => "cm-xjrurh-xjrurh", :id => "xjrurh-xjrurh", :placeholder => "Add your email"}
      %input{:type => "submit", :value => "Subscribe"}