- @body_class = "profile"

%nav
  %h1
    / .location
    /   %a{:href => "/profile"} Callum Flack is a Graphic Designer
    .menu
      %a{:href => "/work"} Work
      %a.spaced{:href => "/journal"} Journal
      %a.spaced.selected{:href => "/profile"} Profile

%section
  / %img.landscape{:src => "assets/images/callum-flack.jpg", :alt => "Callum Flack"}

  %article
    %img.portrait-1{:src => "assets/images/P1020145-1.jpg", :alt => "Callum Flack"}
    %h1.subtitle Callum Flack is a Graphic Designer.
    %h2.first
      Contact me by
      %a{:href => "mailto:callumflack@gmail.com"} Email
      or
      %a{:href => "https://twitter.com/callumflack"} Twitter

    :markdown
      I design communications for both page and screen. I plan, create and build assets that enhance value for business and culture. In industry terms, I'm a senior designer and art director with over twelve years experience.

      I live in Melbourne, Australia with my wife and young daughter, where I also collect vinyl records of all kinds, read about software eating the world, and try to practise unwired boredom. You can read more about my past work and what drives my sensibility through these pathways:

    %p.links
      %span.bullet •
      %a{:href => "http://www.linkedin.com/in/callumflack"} View my curriculum vitæ on Linkedin
      %br
      %span.bullet •
      %a{:href => "journal"} Read more of my approach in my Journal articles
      %br
      %span.bullet •
      %a{:href => "http://www.quora.com/Callum-Flack"} Read my Quora boards
      %br
      %span.bullet •
      %a{:href => "https://sites.google.com/site/coloronetear/"} Listen to a decade of collected soul 45 mixtapes

    %h2 How I work

    :markdown
      I work within the contradictory fields of emotion and logic, and aim to communicate a lot of information with ease and distinction. As such, I concentrate on the essence of Why, not the hang-up of What. The result is often defined by what’s not there as much as what is.

      The work begins by defining purpose: I eliminate the extraneous and focus on essence and usefulness. Collaboration is a necessity throughout the work process, as requirements develop and opportunities unfold.

      Craft is everything. Clear thinking and smart ideas may connect people; attentiveness in executing the ideas enables a seamless experience.

      My goal is to create work that’s elegantly effective, for today and tomorrow.

    %h2 About this site

    %p
      I designed and hand-coded this site using a Sinatra app that my friend
      %a{:href => "http://tuzinsky.com/"} Bobes Tuzinsky
      created for me. I use Haml and Sass to write each page, I manage this code though Github and when I push new changes, a script updates Heroku, where I host my site. You can read more about the process
      %a{:href => "/journal"} in my journal.

    %p All words and pictures shown here are &copy; Callum Flack 2012.


%footer
  %h2
    Need a hand with your brand?
  %p
    %a{:href => "mailto:callumflack@gmail.com"} Start a conversation with me to discuss a project.

  %form{:action => "http://callumflackdesign.createsend.com/t/r/s/xjrurh/", :method => "post", :id => "subscribe"}
    %input{:type => "text", :name => "cm-xjrurh-xjrurh", :id => "xjrurh-xjrurh", :placeholder => "Add your email"}
    %input{:type => "submit", :value => "Subscribe"}