- @body_class = "profile"

.frame
  %h2.title 
    = link_tag "Profile", "/profile"
  / %img{:src => "assets/images/callum-5.png", :alt => "Callum Flack, Designer"}
    
  :markdown
    I design for page and screen. I plan, create and build communication assets for business and culture. 
    
    I work within the contradictory fields of emotion and logic, and aim to communicate a lot of information with ease and distinction. As such, I concentrate on the essence of Why, not the hang-up of What. The result is often defined by what’s not there as much as what is.

    The work begins by defining purpose: I eliminate the extraneous and focus on essence & usefulness. Collaboration is a necessity throughout the work process, as requirements develop and opportunities unfold.

    Craft is everything. While clear thinking and smart ideas will connect people, only care and attentiveness will enable a seamless experience.

    I aim to build work that’s elegantly effective, now and tomorrow.

    I live in Melbourne, Australia with my wife and newborn daughter, where I also collect vinyl records of all kinds, read about software eating the world, and try to practise unwired boredom.
      
  %p.links.last
    / %a{:href => "mailto:callumflack@gmail.com"} Start a conversation by emailing me
    %a{:href => "https://twitter.com/callumflack"} Read more of my approach in my Journal articles
    / %a{:href => "https://twitter.com/callumflack"} Follow and comment on Twitter
    %a{:href => "http://www.linkedin.com/in/callumflack"} View my curriculum vitæ on Linkedin
    %a{:href => "http://www.quora.com/Callum-Flack"} Read my Quora boards
    %a{:href => "https://sites.google.com/site/coloronetear/"} Listen to a decade of collected soul 45 mixtapes
    
  %footer
    %h3 
      &copy; Callum Flack 1999-2012
      / %br
      / Learning, unlearning, relearning.