- @body_class = "profile"

.frame
  %img{:src => "assets/images/callum-5.png", :alt => "Callum Flack, Designer"}
  %h1.title Callum, Designing
  %h3.date 
    %a{:href => "mailto:callumflack@gmail.com"} Email
    &nbsp; | &nbsp;
    +61 (0)408 767 540
    &nbsp; | &nbsp;
    %a{:href => "https://twitter.com/callumflack"} Twitter
  
  %p.intro My name is Callum Flack. I design for page and screen. I make visual assets for business and culture that convey meaning and enhance usefulness.
    
  :markdown
  
    I offer art direction and graphic design for brand identity across websites, literature, packaging, campaigns and reports. I encourage brand research and architecture, competitor audits and communications audits before beginning the visual assets. Any digital work is subject to full information architecture audit and user experience design before writing code. 
    
    Form follows function. By defining purpose in the first instance, I eliminate the extraneous and focus on creating value. Beginning with conversation, I listen and ask questions until I understand the possibilities and parameters completely. Collaboration is a necessity: requirements develop and opportunities unfold during the work process.

    I work within the contradictory fields of emotion and logic. My work communicates a lot of information quickly, precisely and distinctly. As such, I concentrate on the essence of Why, not the hang-up of What. Which means the work is often defined by what's been left out as much as what's shown. 
    
    Craft is everything. While clear thinking and smart ideas will connect people, only care and attentiveness will ensure the idea becomes a seamless experience.
    
    I aim to build work that's elegantly effective, now and tomorrow.
    
    I live in Melbourne, Australia where I also collect vinyl records of all kinds, read about software eating the world, and try to practise boredom.
    
  / %p.quote Callum is just totally fucking amazing at everything he puts his mind too. And his collection of records is also fucking amazing. 
  / %p.quote.author — Jeff Kennett, founder of the Hackysack Club
  
  %p.links.last
    / %a{:href => "mailto:callumflack@gmail.com"} Start a conversation by emailing me
    %a{:href => "https://twitter.com/callumflack"} Subscribe to my Journal
    / %a{:href => "https://twitter.com/callumflack"} Follow and comment on Twitter
    %a{:href => "http://www.linkedin.com/in/callumflack"} View my curriculum vitæ on Linkedin
    %a{:href => "http://www.quora.com/Callum-Flack"} Read my Quora boards
    %a{:href => "https://sites.google.com/site/coloronetear/"} Listen to a decade of collected soul 45 mixtapes
    
  %footer
    %h3 
      &copy; Callum Flack 1999-2012
      / %br
      / Learning, unlearning, relearning.