- @body_class = "work"

%nav
  .location
    %h1
      %a{:href => "/home"} 
        Callum Flack is a graphic designer
  .menu
    %h1
      %a.selected{:href => "/work"} Work
      %a.spaced{:href => "/journal"} Journal
      %a.spaced{:href => "/profile"} Profile

%section

  %article

    %a.project{:href => "/work/roundtable-records", :alt => "Roundtable Records"}
      %img{:src => "assets/images/roundtable-00.png", :alt => "Roundtable Records"}
      .caption
        %h2 Roundtable Records

    %a.project{:href => "/work/ellis-jones", :alt => "Ellis Jones"}
      %img{:src => "assets/images/roundtable-318-00.jpg", :alt => "Weird Gear"}
      .caption
        %h2 Ellis Jones
      
    %a.project.last{:href => "/work/box-and-dice", :alt => "Box + Dice"}
      %img{:src => "assets/images/roundtable-318-00.jpg", :alt => "Box + Dice"}
      .caption
        %h2 Websites & interfaces
        
  %article

    %a.project{:href => "/work/posters", :alt => "Posters"}
      %img{:src => "assets/images/posters-00.png", :alt => "Posters"}
      .caption
        %h2 Posters

    %a.project{:href => "/work/records", :alt => "Votary Records, etc"}
      %img{:src => "assets/images/records-00.png", :alt => "Votary Records"}
      .caption
        %h2 Records

    %a.project.last{:href => "/work/publications", :alt => "Publications"}
      %img{:src => "assets/images/roundtable-318-00.jpg", :alt => "Publications"}
      .caption
        %h2 Publications
      
        
  %article


    %a.project{:href => "/work/consumer-goods", :alt => "Fast moving consumer goods"}
      %img{:src => "assets/images/consumergoods-00.png", :alt => "Weird Gear"}
      .caption
        %h2 Consumer goods
      
    %a.project{:href => "/work/logos", :alt => "Roundtable Records"}
      %img{:src => "assets/images/logo-00.png", :alt => "Logos"}
      .caption
        %h2 Logos
        
    %a.project.last{:href => "/work/logos", :alt => "Roundtable Records"}
      %img{:src => "assets/images/logo-00.png", :alt => "Logos"}
      .caption
        %h2 Photography & Drawing
