- @body_class = "work"

%nav
    %a.left{:href => "/home"}
        %i.icon-arrow_left
        Home
    %a.right{:href => "/blog"}
        Blog
        %i.icon-arrow_right
    %a{:href => "/work"}
        Callum Flack · Work



%article
    %section
        .cover-column
            %header.grid
                %h1.title
                    %span A designer who codes


    %section
        .picture-column

            %a.project{:href => "/work/roundtable-records", :alt => "Roundtable Records"}
                .panel
                .caption
                    %h1.title Roundtable Records
                %img{:src => "assets/images/menu-roundtable-2.jpg", :alt => "Roundtable Records"}

            %a.project{:href => "/work/boxdice", :alt => "Box + Dice"}
                .panel
                .caption
                    %h1.title Box + Dice
                %img{:src => "assets/images/menu-boxdice.jpg", :alt => "Websites & interfaces"}

            %a.project{:href => "/work/posters", :alt => "Sagatiba for Saatchi Design, London"}
                .panel
                .caption
                    %h1.title Campaigns & posters
                %img{:src => "assets/images/menu-campaigns.jpg", :alt => "Sagatiba for Saatchi Design, London"}

            %a.project.last{:href => "/work/publications", :alt => "Publications"}
                .panel
                .caption
                    %h1.title Publications
                %img{:src => "assets/images/menu-publications.jpg", :alt => "Publications"}

            %a.project{:href => "/work/consumer-goods", :alt => "Fast moving consumer goods"}
                .panel
                .caption
                    %h1.title Consumer Goods
                %img{:src => "assets/images/menu-fmcg.jpg", :alt => "Fast moving consumer goods"}

            %a.project{:href => "/work/posters-for-vinyl-collectors", :alt => "Posters for vinyl collectors"}
                .panel
                .caption
                    %h1.title Music Posters
                %img{:src => "assets/images/menu-musicposters.jpg", :alt => "Posters for vinyl collectors"}

            %a.project{:href => "/work/records", :alt => "Votary Records, etc"}
                .panel
                .caption
                    %h1.title Designing for vinyl
                %img{:src => "assets/images/menu-votary-1.jpg", :alt => "Votary Records, etc"}

            %a.project{:href => "/work/logos", :alt => "Roundtable Records"}
                .panel
                .caption
                    %h1.title Logos
                %img{:src => "assets/images/menu-logos.jpg", :alt => "Logos"}
