- @body_class = "work"

%nav
  .location
    %a.first{:href => "/work"} Work
  .menu
    %a.first{:href => "/work"} Work
    %a{:href => "/home"} Home
    %a{:href => "/journal"} Journal
    %a.last{:href => "/profile"} Profile

%section.pic
  %nav
    .location
      %a.first{:href => "/work"} Alphabetically
    .menu
      %a.first{:href => "/work"} Alphabetically
      %a{:href => "/work/by-category"} Categorically
      %a.last{:href => "/work/by-year"} Chronologically

  %article.spacer
    %h1 &nbsp;
  
  %a.project{:href => "/work/roundtable-records", :alt => "Roundtable Records"}
    %img{:src => "assets/images/roundtable-00.jpg", :alt => "Roundtable Records"}
    .caption
      %h1 Roundtable Records

  %a.project{:href => "/work/weird-gear", :alt => "Weird Gear"}
    %img{:src => "assets/images/weirdgear-00.jpg", :alt => "Weird Gear"}
    .caption
      %h1 Weird Gear
      
  %a.project{:href => "/work/roundtable-records", :alt => "Roundtable Records"}
    %img{:src => "assets/images/roundtable-00.jpg", :alt => "Roundtable Records"}
    .caption
      %h1 Roundtable Records

  %a.project{:href => "/work/weird-gear", :alt => "Weird Gear"}
    %img{:src => "assets/images/weirdgear-00.jpg", :alt => "Weird Gear"}
    .caption
      %h1 Weird Gear
      
  %a.project{:href => "/work/roundtable-records", :alt => "Roundtable Records"}
    %img{:src => "assets/images/roundtable-00.jpg", :alt => "Roundtable Records"}
    .caption
      %h1 Roundtable Records

  %a.project{:href => "/work/weird-gear", :alt => "Weird Gear"}
    %img{:src => "assets/images/weirdgear-00.jpg", :alt => "Weird Gear"}
    .caption
      %h1 Weird Gear    