- @body_class = "work"

.frame.menu
  %nav
    %a{:href => "/journal"} Index
    %a{:href => "/journal/i-thought-you-were-my-lady"} Next
    %a.last{:href => "/journal/days-end"} Previous

.frame

  %header
    %a{:href => "/"} Work
  
  %article
    %h1 Paraphrasing Sterling
    / %h3 Saturday June 11, 2012