- @body_class = "work"

%nav#relative
  .container
    .header
      %a.on{:href => "/journal"} Work
    .menu
      %a{:href => "/home"} Home
      %a{:href => "/work"} Work
      %a{:href => "/journal"} Journal
      %a{:href => "/profile"} Profile

.container
  
  %p.sub-nav
    %a.selected{:href => "/work/by-alphabet"} Alphabetically
    %a{:href => "/work/by-category"} Categorically
    /%a{:href => "/work/by-year"} By Year
  
  %article
  
    %a.picture{:href => "/work/roundtable-records", :alt => "Roundtable Records"}
      %img{:src => "assets/images/work-1.png", :alt => "Roundtable Records"}
      .caption
        %h1 Roundtable Records

    %a.picture{:href => "/work/weird-gear", :alt => "Weird Gear"}
      %img{:src => "assets/images/work-2.png", :alt => "Weird Gear"}
      .caption
        %h1 Weird Gear

    %a.picture{:href => "/work/roundtable-records", :alt => "Roundtable Records"}
      %img{:src => "assets/images/work-3.png", :alt => "Roundtable Records"}
      .caption
        %h1 Roundtable Records

    %a.picture{:href => "/work/weird-gear", :alt => "Weird Gear"}
      %img{:src => "assets/images/work-1.png", :alt => "Roundtable Records"}
      .caption
        %h1 Roundtable Records

    %a.picture{:href => "/work/roundtable-records", :alt => "Roundtable Records"}
      %img{:src => "assets/images/work-2.png", :alt => "Roundtable Records"}
      .caption
        %h1 Roundtable Records

    %a.picture{:href => "/work/weird-gear", :alt => "Weird Gear"}
      %img{:src => "assets/images/work-3.png", :alt => "Roundtable Records"}
      .caption
        %h1 Roundtable Records