- @body_class = "work"

.container

  %nav
    .location
      %a.on.first{:href => "/work"} Work
    .menu
      %a.first{:href => "/work"} Work
      %a{:href => "/journal"} Journal
      %a{:href => "/profile"} Profile
      %a{:href => "/home"} Home

  %section
  
    %p
      %a.on{:href => "/work/by-alphabet"} Alphabetically
      &nbsp;
      %a{:href => "/work/by-category"} Categorically
      /%a{:href => "/work/by-year"} By Year
    
    %a.project{:href => "/work/roundtable-records", :alt => "Roundtable Records"}
      %img{:src => "assets/images/roundtable-00.jpg", :alt => "Roundtable Records"}
      .caption
        %h1 Roundtable Records

    %a.project{:href => "/work/weird-gear", :alt => "Weird Gear"}
      %img{:src => "assets/images/roundtable-00.jpg", :alt => "Weird Gear"}
      .caption
        %h1 Weird Gear