- @body_class = "work"

.slideshow
  .slide.active= snippet "slides/slide4"
  .slide= snippet "slides/slide2"
  .slide= snippet "slides/slide1"
  .slide= snippet "slides/slide5"
  
%a{:href => "/journal/days-end", :alt => "Next"}
  .next.large
%a{:href => "/journal/days-end", :alt => "Previous"}
  .previous.large