- @body_class = "work"

%nav
  .location
    %h1
      %a{:href => "/home"} 
        Callum Flack is a graphic designer
  .menu
    %h1
      %a.selected{:href => "/work"} Work
      %a.spaced{:href => "/journal"} Journal
      %a.spaced{:href => "/profile"} Profile

%section

  %article

    %a.project{:href => "/work/roundtable-records", :alt => "Roundtable Records"}
      %img{:src => "assets/images/roundtable.png", :alt => "Roundtable Records"}
      .caption
        %h2 Roundtable Records

    %a.project.last{:href => "/work/websites-interfaces", :alt => "Websites & interfaces"}
      %img{:src => "assets/images/websites.png", :alt => "Websites & interfaces"}
      .caption
        %h2 Websites & interfaces

    %a.project{:href => "/work/posters-not-for-music", :alt => "Posters not for music"}
      %img{:src => "assets/images/posters-notmusic.png", :alt => "Posters not for music"}
      .caption
        %h2 Posters not for music
        
  %article

    %a.project{:href => "/work/consumer-goods", :alt => "Fast moving consumer goods"}
      %img{:src => "assets/images/consumergoods-00.png", :alt => "Weird Gear"}
      .caption
        %h2 Consumer goods

    %a.project{:href => "/work/records", :alt => "Votary Records, etc"}
      %img{:src => "assets/images/records-00.png", :alt => "Votary Records"}
      .caption
        %h2 Records

    %a.project.last{:href => "/work/publications", :alt => "Publications"}
      %img{:src => "assets/images/publications.png", :alt => "Publications"}
      .caption
        %h2 Publications
        
  %article

    %a.project{:href => "/work/posters", :alt => "Posters"}
      %img{:src => "assets/images/posters.png", :alt => "Posters"}
      .caption
        %h2 Posters for music
      
    %a.project{:href => "/work/logos", :alt => "Roundtable Records"}
      %img{:src => "assets/images/logo-00.png", :alt => "Logos"}
      .caption
        %h2 Logos