- @body_class = "work"

%header
  %nav
    %a.selected{:href => "/work"} Work
    %a{:href => "/journal"} Journal
    %a{:href => "/profile"} Profile

.frame
  
  %p.sub-nav
    %a{:href => "/journal"} Index
    %a{:href => "/journal/i-thought-you-were-my-lady"} Next
    %a{:href => "/journal/days-end"} Previous
  
  %article
    %h1 You gotta pay, pay, pay & deal too.
    %p Ah!