- @body_class = "work"

%nav
  %h1
    / .location
    /   %a{:href => "/home"} Work
    .menu
      %a.selected{:href => "/work"} Work
      %a.spaced{:href => "/journal"} Journal
      %a.spaced{:href => "/profile"} Profile

%section

  %a.project{:href => "/work/roundtable-records", :alt => "Roundtable Records"}
    .panel
    .caption
      %h1.title Roundtable Records
    %img{:src => "assets/images/menu-roundtable.jpg", :alt => "Roundtable Records"}

  %a.project{:href => "/work/websites-interfaces", :alt => "Websites & interfaces"}
    .panel
    .caption
      %h1.title Interfaces
    %img{:src => "assets/images/menu-roundtable.jpg", :alt => "Websites & interfaces"}

  %a.project{:href => "/work/posters", :alt => "Sagatiba for Saatchi Design, London"}
    .panel
    .caption
      %h1.title Campaign Posters
    %img{:src => "assets/images/menu-roundtable.jpg", :alt => "Sagatiba for Saatchi Design, London"}
  
        
  %a.project{:href => "/work/logos", :alt => "Roundtable Records"}
    .panel
    .caption
      %h1.title Logos
    %img{:src => "assets/images/menu-roundtable.jpg", :alt => "Logos"}
      
  %a.project{:href => "/work/consumer-goods", :alt => "Fast moving consumer goods"}
    .panel
    .caption
      %h1.title Consumer goods
    %img{:src => "assets/images/menu-roundtable.jpg", :alt => "Fast moving consumer goods"}


  %a.project{:href => "/work/records", :alt => "Votary Records, etc"}
    .panel
    .caption
      %h1.title Records
    %img{:src => "assets/images/menu-roundtable.jpg", :alt => "Votary Records, etc"}

  %a.project.last{:href => "/work/publications", :alt => "Publications"}
    .panel
    .caption
      %h1.title Publications
    %img{:src => "assets/images/menu-roundtable.jpg", :alt => "Publications"}

  %a.project{:href => "/work/posters-for-vinyl-collectors", :alt => "Posters for vinyl collectors"}
    .panel
    .caption
      %h1.title Music Posters
    %img{:src => "assets/images/menu-roundtable.jpg", :alt => "Posters for vinyl collectors"}

  / %a.project{:href => "/work/posters", :alt => "Sagatiba for Saatchi Design, London"}
  /   %img{:src => "assets/images/thumb-millennius.png", :alt => "Sagatiba for Saatchi Design, London"}
  /   .caption
  /     %h2 
  /       %span Posters
  /         
  / %a.project{:href => "/work/logos", :alt => "Roundtable Records"}
  /   %img{:src => "assets/images/thumb-logos.png", :alt => "Logos"}
  /   .caption
  /     %h2 
  /       %span Logos