/* ==========================================================================
   Carousel elements
   ========================================================================== */

.carousel {

    .banner {
        position: relative;
        overflow: auto;
    }

    .banner > ul {
        margin: 0;
        padding: 0;
    }

    .banner > ul li {
        display: block;
        float: left;
        list-style: none;
        margin: 0;

        img + img { margin-left: $bs/4; }

        /* keep slides at the edges */
        text-align: right;
        @include bp(tablet) { text-align: left; }

        /* unslider requires a height */
        height: $hProject*1.045;
        @include bp(tablet) { height: $hProject-tablet + 0.5vw; }
        @include bp(osx) { height: $hProject-osx; }

        /* set images w/i %li container unless in ratio */
        img.fixH {
            height: $hProject - rem(1);
            @include bp(tablet) { height: $hProject-tablet - 0.5vw; }
            @include bp(osx) { height: $hProject-osx; }
        }

//        /* …unless in ratio */
//        &.unfixHeight {
//            img { height: auto !important; }
//            @include bp(tablet) { img { height: auto !important; } }
//        }
    }

    /* carousel nav */
    .banner .dots {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: right;
        overflow: visible;
    }
    .banner .dots li {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0 4px;
        text-indent: -999em;
        border: 1px solid $cText;
        border-radius: 6px;
        cursor: pointer;
        opacity: .4;
        -webkit-transition: background .5s, opacity .5s;
        -moz-transition: background .5s, opacity .5s;
        transition: background .5s, opacity .5s;
        &:last-of-type {
            margin-right: 0;
        }
    }
    .banner .dots li.active {
        background: $cText;
        opacity: 1;
    }

    /*
     * Slide background colors
     */

    .bg-grey { background-color: darken($cBg, 5%); }
    .bg-outline { border: 1px solid darken($cBg, 50%); }

    /*
     * Parent use for .u-absoluteCenter
     * Build horizontal layers with these
     */

    .retainHW {
        position: relative;
        width: $wProject;
        height: $hProject;

        @include bp(tablet) {
            width: $wProject-tablet;
            height: $hProject-tablet;
        }
    }

    .retainH {
        position: relative;
        height: $hProject;

        @include bp(tablet) { height: $hProject-tablet; }
    }

    .retainHW--h1-3 { height: $hProject/3; }
    .retainHW--h1-4 { height: $hProject/4; }
}

#ipad .carousel .banner .dots li.active {
    border-color: $cBg;
    background: $cBg;
}

