@font-face {
  font-family: 'Avenir LT Book';
  src: url('avenirltstd-book-webfont.eot');
  src: url('avenirltstd-book-webfont.eot?#iefix') format('embedded-opentype'),
       url('avenirltstd-book-webfont.woff') format('woff'),
       url('avenirltstd-book-webfont.ttf') format('truetype'),
       url('avenirltstd-book-webfont.svg#avenir_lt_std_45_bookregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir LT Heavy';
  src: url('avenirltstd-heavy-webfont.eot');
  src: url('avenirltstd-heavy-webfont.eot?#iefix') format('embedded-opentype'),
       url('avenirltstd-heavy-webfont.woff') format('woff'),
       url('avenirltstd-heavy-webfont.ttf') format('truetype'),
       url('avenirltstd-heavy-webfont.svg#avenir_lt_std_55_romanbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir LT Light';
  src: url('avenirltstd-light-webfont.eot');
  src: url('avenirltstd-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('avenirltstd-light-webfont.woff') format('woff'),
       url('avenirltstd-light-webfont.ttf') format('truetype'),
       url('avenirltstd-light-webfont.svg#avenir_lt_std_35_lightregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir LT Medium';
  src: url('avenirltstd-medium-webfont.eot');
  src: url('avenirltstd-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('avenirltstd-medium-webfont.woff') format('woff'),
       url('avenirltstd-medium-webfont.ttf') format('truetype'),
       url('avenirltstd-medium-webfont.svg#avenir_lt_std_65_mediumRg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir LT Roman';
  src: url('avenirltstd-roman-webfont.eot');
  src: url('avenirltstd-roman-webfont.eot?#iefix') format('embedded-opentype'),
       url('avenirltstd-roman-webfont.woff') format('woff'),
       url('avenirltstd-roman-webfont.ttf') format('truetype'),
       url('avenirltstd-roman-webfont.svg#avenir_lt_std_55_romanregular') format('svg');
  font-weight: normal;
  font-style: normal;
}






@font-face {
    font-family: 'serif72_beta_rgbold';
    src: url('serif72beta-bold.eot');
    src: url('serif72beta-bold.eot?#iefix') format('embedded-opentype'),
         url('serif72beta-bold.woff') format('woff'),
         url('serif72beta-bold.ttf') format('truetype'),
         url('serif72beta-bold.svg#serif72_beta_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'serif72_beta_bkbold';
    src: url('serif72beta-black.eot');
    src: url('serif72beta-black.eot?#iefix') format('embedded-opentype'),
         url('serif72beta-black.woff') format('woff'),
         url('serif72beta-black.ttf') format('truetype'),
         url('serif72beta-black.svg#serif72_beta_bkbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'serif72_beta_rgregular';
    src: url('serif72beta-regular.eot');
    src: url('serif72beta-regular.eot?#iefix') format('embedded-opentype'),
         url('serif72beta-regular.woff') format('woff'),
         url('serif72beta-regular.ttf') format('truetype'),
         url('serif72beta-regular.svg#serif72_beta_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}






@font-face {
    font-family: 'arnhem_blackregular';
    src: url('arnhem-black.eot');
    src: url('arnhem-black.eot?#iefix') format('embedded-opentype'),
         url('arnhem-black.woff') format('woff'),
         url('arnhem-black.ttf') format('truetype'),
         url('arnhem-black.svg#arnhem_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'arnhem_blackitalic';
    src: url('arnhem-blackitalic.eot');
    src: url('arnhem-blackitalic.eot?#iefix') format('embedded-opentype'),
         url('arnhem-blackitalic.woff') format('woff'),
         url('arnhem-blackitalic.ttf') format('truetype'),
         url('arnhem-blackitalic.svg#arnhem_blackitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'arnhem_black_scregular';
    src: url('arnhem-blacksc.eot');
    src: url('arnhem-blacksc.eot?#iefix') format('embedded-opentype'),
         url('arnhem-blacksc.woff') format('woff'),
         url('arnhem-blacksc.ttf') format('truetype'),
         url('arnhem-blacksc.svg#arnhem_black_scregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'arnhem_boldregular';
    src: url('arnhem-bold.eot');
    src: url('arnhem-bold.eot?#iefix') format('embedded-opentype'),
         url('arnhem-bold.woff') format('woff'),
         url('arnhem-bold.ttf') format('truetype'),
         url('arnhem-bold.svg#arnhem_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'arnhem_bolditalic';
    src: url('arnhem-bolditalic.eot');
    src: url('arnhem-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('arnhem-bolditalic.woff') format('woff'),
         url('arnhem-bolditalic.ttf') format('truetype'),
         url('arnhem-bolditalic.svg#arnhem_bolditalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'arnhem_bold_scregular';
    src: url('arnhem-boldsc-webfont.eot');
    src: url('arnhem-boldsc-webfont.eot?#iefix') format('embedded-opentype'),
         url('arnhem-boldsc-webfont.woff') format('woff'),
         url('arnhem-boldsc-webfont.ttf') format('truetype'),
         url('arnhem-boldsc-webfont.svg#arnhem_bold_scregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'arnhem_normalregular';
    src: url('arnhem-normal.eot');
    src: url('arnhem-normal.eot?#iefix') format('embedded-opentype'),
         url('arnhem-normal.woff') format('woff'),
         url('arnhem-normal.ttf') format('truetype'),
         url('arnhem-normal.svg#arnhem_normalregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'arnhem_normalitalic';
    src: url('arnhem-normalitalic-webfont.eot');
    src: url('arnhem-normalitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('arnhem-normalitalic-webfont.woff') format('woff'),
         url('arnhem-normalitalic-webfont.ttf') format('truetype'),
         url('arnhem-normalitalic-webfont.svg#arnhem_normalitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'arnhem_normal_scregular';
    src: url('arnhem-normalsc-webfont.eot');
    src: url('arnhem-normalsc-webfont.eot?#iefix') format('embedded-opentype'),
         url('arnhem-normalsc-webfont.woff') format('woff'),
         url('arnhem-normalsc-webfont.ttf') format('truetype'),
         url('arnhem-normalsc-webfont.svg#arnhem_normal_scregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'arnhem_blondregular';
    src: url('arnhem-blond.eot');
    src: url('arnhem-blond.eot?#iefix') format('embedded-opentype'),
         url('arnhem-blond.woff') format('woff'),
         url('arnhem-blond.ttf') format('truetype'),
         url('arnhem-blond.svg#arnhem_blondregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'arnhem_blonditalic';
    src: url('arnhem-blonditalic.eot');
    src: url('arnhem-blonditalic.eot?#iefix') format('embedded-opentype'),
         url('arnhem-blonditalic.woff') format('woff'),
         url('arnhem-blonditalic.ttf') format('truetype'),
         url('arnhem-blonditalic.svg#arnhem_blonditalic') format('svg');
    font-weight: normal;
    font-style: normal;
}







