@font-face {
  font-family: 'Avenir LT Book';
  src: url('avenirltstd-book-webfont.eot');
  src: url('avenirltstd-book-webfont.eot?#iefix') format('embedded-opentype'),
       url('avenirltstd-book-webfont.woff') format('woff'),
       url('avenirltstd-book-webfont.ttf') format('truetype'),
       url('avenirltstd-book-webfont.svg#avenir_lt_std_45_bookregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir LT Heavy';
  src: url('avenirltstd-heavy-webfont.eot');
  src: url('avenirltstd-heavy-webfont.eot?#iefix') format('embedded-opentype'),
       url('avenirltstd-heavy-webfont.woff') format('woff'),
       url('avenirltstd-heavy-webfont.ttf') format('truetype'),
       url('avenirltstd-heavy-webfont.svg#avenir_lt_std_55_romanbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir LT Light';
  src: url('avenirltstd-light-webfont.eot');
  src: url('avenirltstd-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('avenirltstd-light-webfont.woff') format('woff'),
       url('avenirltstd-light-webfont.ttf') format('truetype'),
       url('avenirltstd-light-webfont.svg#avenir_lt_std_35_lightregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir LT Medium';
  src: url('avenirltstd-medium-webfont.eot');
  src: url('avenirltstd-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('avenirltstd-medium-webfont.woff') format('woff'),
       url('avenirltstd-medium-webfont.ttf') format('truetype'),
       url('avenirltstd-medium-webfont.svg#avenir_lt_std_65_mediumRg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir LT Roman';
  src: url('avenirltstd-roman-webfont.eot');
  src: url('avenirltstd-roman-webfont.eot?#iefix') format('embedded-opentype'),
       url('avenirltstd-roman-webfont.woff') format('woff'),
       url('avenirltstd-roman-webfont.ttf') format('truetype'),
       url('avenirltstd-roman-webfont.svg#avenir_lt_std_55_romanregular') format('svg');
  font-weight: normal;
  font-style: normal;
}