@font-face {
  font-family: Neuzeit;
  src: url("/assets/fonts/n001001tWeb.eot");
  src: url("/assets/fonts/n001001tWeb.eot?#iefix"),
       url("/assets/fonts/n001001tWeb.woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Neuzeit;
  src: url("/assets/fonts/n001002tWeb.eot");
  src: url("/assets/fonts/n001002tWeb.eot?#iefix"),
       url("/assets/fonts/n001002tWeb.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Neuzeit;
  src: url("/assets/fonts/n001004tWeb.eot");
  src: url("/assets/fonts/n001004tWeb.eot?#iefix"),
       url("/assets/fonts/n001004tWeb.woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Neuzeit;
  src: url("/assets/fonts/n001006tWeb.eot");
  src: url("/assets/fonts/n001006tWeb.eot?#iefix"),
       url("/assets/fonts/n001006tWeb.woff");
  font-weight: 800;
  font-style: normal;
}
