/*
----------------------------------------------------------------
	F O O T E R
---------------------------------------------------------------- */

footer {
	padding-top: rem(34); //50-14
	
	ul { 
		margin: 0;
		padding: rem(8) 0 0 0;
		border-top: 1px solid #ddd;
		text-align: center; 
		list-style-type: none;
	}
	
	li { @include inline-block; }
	li a, li span { @extend %headlineset; @extend %headline-small; color: #888; }
	li span { margin: 0 rem(8); }
	
}