footer {
  width: $w-text;
  @extend .text-padding;
  margin: 0;
  &.inside-fixed {
    padding: 0;
  }
  p { margin: 0; }
  
  
  
  nav {
    margin-top: 224px;
    .location, .menu { 
      @extend .rule;
      //a { color: $link; }
      //a:hover { text-decoration: underline; }
    }
    .location:hover, .menu:hover { 
      @extend .rule-h;
    }
  }
  
  
  
  aside {
    width: $w-text;
    
    a { 
      padding-bottom: 60px;
    }
    
    &.contact {
      //@extend .rule-lite;
      margin-bottom: 60px;
      a {
        text-decoration: underline;
        font-style: normal;
      }
      a:hover { 
        color: $link;
        text-decoration: underline;
      }
      h2::before {
        content: ' ';
        display: block;
        width: 5%;
        border-top: 6px solid $text;
        margin: 20px auto 60px auto;
      }
    }
    
    &.links {
      text-align: center;
      p, a { 
        @extend .headline;
      }
      a {
        padding-left: 12px;
        &.first {
          padding-left: 0;
        }
      }
    }
  }
}