@import "variables";

/**
 * Theme controls how everything looks in Gallery CSS
 */

.gallery {
    position: relative;

    .item {
        height: rem(800);
        overflow: hidden;
        text-align: center;
        background: $cBack;
        @include transition(opacity .2s);
    }

    .item--pullRight { text-align: right; }
    .item--pullLeft  { text-align: left; }

    .controls {
        position: absolute;
        bottom: rem(-45);
        width: 100%;
        text-align: right; }

        .control-button {
            display: inline-block;
            margin: 0 .02em;
            font-size: 1.5em;
            border: 0;

            //@extend %inactive-button;

            text-align: center;
            text-decoration: none;
            @include transition(color .1s);

            //&:hover { @extend %active-button; }
        }
    }

