/* Variables */

$item-display-duration: 3 !default; //5 seconds
$transition-duration: .3 !default; //2 seconds
$display-duration: $transition-duration + $item-display-duration;

@mixin inactive-button { color: #ccc; color: rgba(255, 255, 255, .4); }
@mixin active-button {  -webkit-text-stroke: 1px white; color: white; }

%inactive-button { @include inactive-button; }
%active-button { @include active-button; }


/* Theme controls how everything looks in Gallery CSS */

.gallery {
    position: relative;

    .item {
        height: rem(800);
        overflow: hidden;
        text-align: center;
        background: $cBack;
        @include transition(opacity .2s);

        img { width: 100%; }
    }

    .controls {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center; }

        .control-button {
            display: inline-block;
            margin: 0 .02em;
            font-size: 2.5em;
            border: 0;

            @extend %inactive-button;

            text-align: center;
            text-decoration: none;
            @include transition(color .1s);

            &:hover { @extend %active-button; }
        }
    }
