header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 50px 0;
//  border-bottom: 1px solid #eee;
  z-index: 2;
  text-align: center;
  line-height: 100%;
  background-color: #fdfdfd; //rgba(253, 253, 253, 0.1)
//  &:hover { 
//    color: white;
//    background-color: $highlight; //rgba(253, 253, 253, 0.1)
//  }
}

nav {
  @extend .body;
  @extend .sub;
  position: relative;
  a {
    color: $text;
    margin: 0 21px;
    &:hover {
      text-decoration: none;
      @extend .rule-nav;
    }
  }
}

.details-link {
  visibility: hidden;
  position: absolute;
  right: 10px;
}

.work .details-link {
  visibility: visible;
}