header {
  position: fixed;
  top: 0;
  left: 50%;
  width: 670px;
  margin-left: -335px;
  padding: 16px 0;
  border-bottom: 2px solid #555;
  z-index: 2;
  background-color: rgba(253, 253, 253, 1);
  text-align: center;
  line-height: 100%;
  a { 
    color: #222;
  }
}

.manifesto {
  @extend .type-value;
  margin: 16px 0;
//  a:hover { color: #222; }
}

nav {
  @extend .type-item;
  font-size: 95%;
  font-weight: 400;
  text-transform: none;
  text-align: center;
  line-height: 100%;
  letter-spacing: 0;
  position: relative;
  margin: 16px 0;
  a {
    margin: 0 21px;
  }
}

.details-link {
  visibility: hidden;
  position: absolute;
  right: 10px;
}

.work .details-link {
  visibility: visible;
}