header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 25px 0;
  margin: 0;
  @extend .typeset;
  line-height: 100%;
  z-index: 2000;
//  background-color: $background;
}

.menu {
  width: 960px;
  margin: 0 auto;  
}

nav {
  float: right;
  a {
    margin: 0 8px;
    text-decoration: none;
  }
}

//.work-details {
//  visibility: hidden;
//  position: absolute;
//  right: 30px;
//  color: $text;
//  &:hover {
//  }
//}
//
//.home-active {
//  position: absolute;
//  left: 30px;
//  color: $text;
//}