/* ==========================================================================
   Images
   ========================================================================== */

/*
 * Ref: http://css-tricks.com/rundown-of-handling-flexible-media/
 * 1. Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    max-width: 100%;
    height: auto; // !important
    vertical-align: middle; /* 1 */
}

img.outline {
    border: 1px solid #ddd;
}