$img-side1: 671px; //721
$w-pic-p: 500px;
$img-posts1: $img-side1 * 0.6875;
$img-posts2: $w-pic * 0.6875;


a.img, a.img:hover {
  border: 0;
}


.portrait-list {
  left: 50%;
  width: $img-posts1;
  height: $img-posts2;
  margin-left: -$img-posts1 / 2;
}
.portrait { 
  height: $w-pic * 0.708;
  width: 481px;
  left: 50%;
  margin-left: ($w-pic - 481px) / 2;
}
.landscape-list {
  width: $img-posts2;
  height: $img-posts1;
  left: 50%;
  margin-left: -$img-posts2 / 2;
}
.landscape {
  left: 50%;
  top: 50%;
  margin-left: -$w-pic / 2;
}

.square {
  left: 50%;
  margin-left: 140px;
}