.log {
  padding: 4.5em 0 1.25em 0;
  border-bottom: 2px dotted #e5e5e5;
}

h1 {
  &.caption {
    font-size: 100%;
    font-weight: 400;
    padding-top: 0.5em;
  }
}

h3 {
  margin-bottom: 32px;
}

p {
  a {
    &.read-more { 
      @extend .type-item;
      @extend .type-value;
      text-decoration: underline;
      margin-left: .33em;
    }
  }
  &.featured {
    text-align: center;
    font-weight: 500;
    font-style: italic;
    font-size: .875em;
    color: #aaa;
    margin-bottom: 32px;
  }
}

// SPECIFIC TO JOURNAL POSTS
body.journal-posts {
  header {
    background-color: rgba(253, 253, 253, 1);
  }
  .frame {
    padding-bottom: 131px;
  }
  h1 { 
    padding-top: 0;
  }
}

// SPECIFIC TO JOURNAL ARTICLES
body.journal {
//  background: top left url(back-01.jpg) no-repeat fixed;
  header {
    background-color: rgba(253, 253, 253, 1);
//      a { color: #fff; }
  }
  .frame {
    background-color: $unwhite;
  }    
  h1 {
    font-size: 250%;
    font-weight: 300;
    letter-spacing: -1.5px;
    margin-top: 94px;
  }
  h3.date {
    margin-bottom: 94px;
  }
}

// SPECIFIC TO BOTH
body.journal-posts, body.journal {
  header {
    .journal-active {
      text-decoration: underline;
    }
  }
}