.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
  //height: 100%;
}

.absolute {
  position: absolute;
  width: 100%;
  top: 0; 
}

.fixed { 
  position: fixed;
  width: 960px;
  top: 0;
  &.wide {
    width: 100%;
  }
}

.article {
  width: 600px;
}

//---------------------------------------------------------Nav: 

nav {
  @extend .fixed;
  width: 100%;
  height: 74px;
  z-index: 1977;
  background: $background;
  .header {
    @extend .fixed;
    padding: 30px 0;
    a {
      padding: 30px 0;
      margin: 0 12px;
      @extend .leading-reset;
    }
  }
  .menu {
    @extend .header;
    visibility: hidden;
    a:hover {
      text-decoration: underline;
    }
  }
  &:hover {
    @extend .fade-details;
    background-color: $text;
    .header {
      visibility: hidden;
    }
    .menu {
      visibility: visible;
      a { 
        color: $background;
        font-family: 'Avenir LT Roman';
      }
    }
  }
}

nav.scroll {
  position: relative;
  .header, .menu {
    @extend .absolute;
  }
}

//---------------------------------------------------------Slideshow fixed alts:

.container.stay, .container.scroll {
  width: 100%;
  background: $background;
}

.container.stay {
  height: 0;
}

.paths {
  position: absolute;
  top: 60px;
  left: 810px;
  //width: 100%;
  z-index: 1977;
  a { 
    display: inline-block;
    //width: 120px;
    margin-bottom: 9px;
    @extend .type-small;
  }
}

.title {
  width: 100%;
  top: 74px;
  height: 130px;
  z-index: 1977;
  background: $background url(title-rule.png) repeat-x scroll 0 50%;
  a {
    background: $background;
    padding: 0 10px;
  }
  &:hover {
    //background-image: url(title-rule-hover.png);
  }
}

.container.slides {
  top: 74px;
}


//---------------------------------------------------------Article relative alts:

.container.scroll {
  .title {
    top: 0;
  }
  &:hover {
    //background: $text;
  }
}





//article, ul {
//  width: 900px;
//  margin: 0 auto;
//  padding-bottom: 250px;
//  p, h1 {
//    margin: 0 auto;
//    width: 580px;
//  }
//  p {
//    margin-bottom: 20px;
//  }
//}
//
//.item {
//  margin-bottom: 1000px;
//}

footer {
  width: 580px;
  margin: 48px auto 0 auto;
  padding-top: 42px;  
}


