/* ==========================================================================
   Layout
   ========================================================================== */

*, *:after, *:before { @include box-sizing(border-box); }

$wProject: rem(1200);
$hProject: $wProject*0.667;
$mProject: rem(640);

$wProject-tablet: 70%; //100vw
$hProject-tablet: 70vw*0.8; //44vh

$wProject-osx: 100%;
$hProject-osx: 80vw; //67?

/**
 * Sections as pages
 */

header,
section {
    position: relative;
    height: rem(1440);
    width: 100%;
    padding: $lHbR;
    background-color: $cBg;
}

header,
section#end { background-color: darken($cBg, 5%); }


/* Page info part
   ========================================================================== */

$wInfo: rem(370);
$alignTop: rem(3);

nav,
.info {
    position: relative;
    float: left;
    width: 100%;
    max-width: $wInfo;

    @include bp(tablet) {
        float: none;
        max-width: 100%;
        margin-bottom: $lHbR*2;
    }
    // this is purely to have this bp show in the responsive extension in chrome
    @include bp(palm) { float: none; }
}

%pageFixed {
    position: fixed;
    @include bp(osx) { position: relative; }
}

header .navInner {
    @extend %pageFixed;
    max-width: inherit; //$wInfo*1.5;
}

header .carousel {
    @extend %pageFixed;
    right: $lHbR;
}

/**
 * Blocks within info part
 */

.block { position: relative; }

.block--info {
    margin-top: -($alignTop);

    @include bp(tablet) { max-width: 50%; }
    @include bp(osx) { max-width: 100%; }
}

.block--infoNav {
    margin-top: $lHbR;

    @include bp(tablet) {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
    }
    @include bp(osx) {
        position: relative;
        top: 0;
        right: 0;
        margin-top: $lHbR/1.5;
    }
}


/* Page carousel part
   ========================================================================== */

header#start > .carousel {
    @include bp(osx) { display: none; }

    @include bp(tablet) {
        //margin-top: rem(200);
        display: none;
    }
}

.carousel {
    position: relative;
    float: right;
    @extend .u-cf;
    width: $wProject;
    height: $hProject*1.05;

    /* load griddle */
    @include griddle-build(2 3 4 5 6 12);

    @include bp(air) { width: rem(860); }

    @include bp(tablet) {
        float: none;
        width: $wProject-tablet;
        height: $hProject-tablet;
    }

    @include bp(osx) {
        width: $wProject-osx;
        height: $hProject-osx;
    }
}


