/* ==========================================================================
   Layout
   ========================================================================== */

*, *:after, *:before { @include box-sizing(border-box); }

/**
 * Slides structure
 */

$colWidth: rem(350);

header,
section {
    position: relative;
    //height: 100%;
    height: rem(2000);
    width: 100%;
    //@include cf;
    padding: $lHbR;
    background-color: $cBack;
}

header { background-color: $cBackStart; }

nav,
.info {
    position: fixed;
    left: $lHb;
    max-width: $colWidth;
    margin-top: -3px;
}

.info {
    position: absolute;
    top: $lHbR;
}

/* Slides
   ========================================================================== */

$projectHeight: rem(800);
$projectClear: rem(640);

.carousel {
    position: relative;
    float: right;
    @include cf;
    width: rem(1000);
    height: $projectHeight;
    max-height: $projectHeight;
    margin-bottom: $projectClear;

    .banner {
        position: relative;
        overflow: auto;
        width: 100%;
        height: $projectHeight;
    }

    .banner > ul {
        margin: 0;
        padding: 0;
    }

    .banner > ul li {
        display: block;
        float: left;
        height: $projectHeight;
        list-style: none;
    }

    .banner .inner {
        width: 100%;
        height: 100%;
    }

    .yellow1 { background-color: yellow; }
    .yellow2 { background-color: #DAD490; }
    .yellow3 { background-color: #BCC653; }
    .pink1   { background-color: pink; }
}



/* Slideshow 'next' on hover
   ========================================================================== */

.content-info {
    position: absolute;
    display: table;
    top: 0;
    height: $projectHeight;
    width: 100%;

    background-color: $cBack;
    @include opacity(0);

    a { z-index: 2013; }
}

.project:hover .content-info {
    //z-index: 1977;
    @include opacity(1);
    @include single-transition(opacity, .3s, ease-in-out, .3s); //dist: duration 2s
    cursor: pointer;
}

.project:hover,
.project:hover .bannerLink {
    color: $cHighlight;
    cursor: pointer;
}


/* Text column
   ========================================================================== */

.textColumn {
    max-width: rem(600);
}

.contentCenter {
    margin: 0 auto;
}


