.mast {
  position: fixed;
  top: 0;
  left: 50%;
  width: 670px;
  margin-left: -335px;
  padding: 17px 0;
  border-bottom: 1px solid #ddd;
  z-index: 2;
  background-color: #fdfdfd;
  background-color: rgba(253, 253, 253, .9);
  text-align: center;
  line-height: 100%;
  a { color: #222; }
}

.manifesto {
  margin: 18px 0;
  @include type-value;
  a:hover { 
    color: #222;
  }
}

.nav {
  font-family: "futura-pt-1", "futura-pt-2", helvetica, sans-serif;
  font-weight: 400;
  position: relative;
  margin: 18px 0;
  a {
    margin: 0 30px;
  }
}

.details-link {
  visibility: hidden;
  position: absolute;
  right: 10px;
}

.work .details-link {
  visibility: visible;
}