.mast {
  position: fixed;
  top: 0;
  left: 50%;
  width: 660px;
  margin-left: -330px;
  padding: 17px 0;
  border-bottom: 2px dotted #00abf2;
  z-index: 2;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.95);
  text-align: center;
  line-height: 100%;
  a { color: #00abf2; }
}

.tagline {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 60%;
  letter-spacing: 0.1em;
  margin: 20px 0;
  a { text-decoration: none; }
  a:hover {text-decoration: underline; }
}

.nav {
  font-family: "futura-pt-1", "futura-pt-2", helvetica, sans-serif;
  font-weight: 400;
  font-size: 21px;
  position: relative;
  margin: 20px 0;
  a {
    margin: 0 30px;
    text-decoration: none;
  }
  a:hover { text-decoration: underline; }
}

.details-link {
  visibility: hidden;
  position: absolute;
  right: 100px;
  font-style: italic;
}

.work .details-link {
  visibility: visible;
}