.mast {
  position: fixed;
  top: 0;
  left: 50%;
  width: 756px;
  margin-left: -378px;
  padding: 17px 0;
  border-bottom: 1px dotted #ddd;
  z-index: 2;
  text-align: center;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.8);
  a {
    color: #222;
  }
}

.tagline {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 75%;
  letter-spacing: 0.1em;
  margin: 20px 0;
  text-align: center;
  a {
    text-decoration: none;
  }
}

.nav {
  font-family: "runda-1","runda-2", helvetica, sans-serif;
  font-size: 21px;
  position: relative;
  margin: 20px 0;
  a {
    margin: 0 30px;
    font-weight: 700;
    text-decoration: none;
  }
}

.details-link {
  visibility: hidden;
  position: absolute;
  right: 100px;
  font-style: italic;
}

.work .details-link {
  visibility: visible;
}