/**
 * easy media queries
 * @include bp(tablet) { SCSS here };
 * http://css-tricks.com/media-queries-sass-3-2-and-codekit/
 * http://css-tricks.com/resolution-specific-stylesheets/
 * http://css-tricks.com/css-media-queries/
 */

@mixin bp($point) {
	@if $point == desk {
		@media (max-width : 1600px) { @content; }
	}
	@if $point == tablet {
		@media (max-width : 1024px) { @content; }
	}
	@else if $point == narrow {
		@media (max-width : 768px) { @content; }
	}
}

/**
 * microclearfix
 */

@mixin cf {
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; }
	*zoom: 1;
}

/**
 * bourbon pixels to ems converter
 */

@function rem($pxval, $base: 16) {
    @return ($pxval / $base) * 1rem;
}

/**
 * vertical rhythm unit in rem [test]
 */

//@function rem($vr, $lineHeightBase) {
//    @return ($vr / $lineHeightBase) * 1rem;
//}




/**
 * https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_font-face.scss
 * Order of the includes matters, and it is: normal, bold, italic, bold+italic.
 * @include font-face(ProximaNova, 'fonts/proximanova_semibolditalic_macroman/ProximaNova-SboldIt-webfont', normal, italic);
 */

@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style:  $style;
    src: url('#{$file-path}.eot');
    src: url('#{$file-path}.eot?#iefix')          format('embedded-opentype'),
         url('#{$file-path}.woff')                format('woff'),
         url('#{$file-path}.ttf')                 format('truetype'),
         url('#{$file-path}.svg##{$font-family}') format('svg');
  }
}

/**
 * Inuit: create a fully formed type style (sizing and vertical rhythm)
 * by passing in a single value, e.g.: @include font-size(10px);
 * http://jsfiddle.net/redclover/mkYtY/
 * http://designbyjoel.com/blog/2013-02-28-sass-rems/
 * or? https://gist.github.com/ijy/1441967
 * @function rem($target, $context: $fontSizeBase) {
 *   @if $target == 0 { @return 0 }
 *   @return $target / $context + 0em;
 */

@mixin font-size($font-size, $line-height:false) {
    font-size:$font-size;
    font-size:($font-size / $fontSizeBase)*1rem;
    @if $line-height == true {
        line-height:ceil($font-size / $lineHeightBase) * ($lineHeightBase / $font-size);
    }
}



