body.home {
  header {
    background-color: rgba(253, 253, 253, 0);
    a { color: #ccc; }
  }
  .frame {
    background-color: $background;
  }    
  h1 {
    font-size: 250%;
    font-weight: 300;
    letter-spacing: -1.5px;
    margin-top: 94px;
    &.home { 
      font-size: 4em;
      letter-spacing: -3px;
    }
  }    
  p.date {
    margin-bottom: 94px;
  }
}