
/* BLOG PAGE SPECIALS ------------------------------------------ */


//.blog-picture, .blog-article {
//    .picture-column { padding-top: rem(50); }
//    .text-column { padding-top: rem(150); }
//    .picture-column ~ .text-column { padding-top: rem(0); }
//}
//
//.blog-article { p.date { margin-bottom: rem(56); } }