.about {

    img { width: em(330); }

	.cover-column {
        background-image: url("/assets/images/newwcastle-2.jpg"); //newwcastle-2.jpg IMG_5560-1.jpg
        margin-bottom: em(70);
    }

    .text-column h1 {
        //margin: rem(70) 0 rem(56);
        margin-bottom: em(21);
    }

}