.work {

  section {
    
    
    nav {
      width: $w-text;
      @extend .text-align;
      .location, .menu {
        width: $w-text;
      }
    }    
    article.spacer {
      height: 82px;
    }
    
    p {
      width: 100%;
      padding-bottom: 30px;
      padding-top: 2px;
      a {
        text-decoration: none;
        &.on {
          text-decoration: underline;
        }
      }
    }

    .project {
      position: relative;
      display: block;
      height: 90px;
      margin-bottom: 3px;
      //@extend .rule;
      &.first {
        padding-top: 82px;
      }

      img {
        display: inline-block;
        height: 90px;
        width: $w-pic;
        padding: 0;
        margin: 0 auto;
      }
      .caption {
        width: 100%;
        position: absolute;
        top: 37%;
        z-index: 99;
        h1 {
          padding: 0;
          @extend .text-align;
          visibility: hidden;
          color: $link;
        }
      }
    
      //HOVER OVER PROJECTS
      &:hover {
        //@extend .rule-h;
        border-bottom-color: $text;
        &.project h1 { visibility: visible; }
        &.project img {
          @extend .opacity-0;
          @extend .fade-delay;
        }
      }
    }  
  }
}




.work-project {
  padding-top: 0;
  nav, section.fixed { padding-top: 80px; }
  section { margin-bottom: 0; }

  section.fixed {
    margin-bottom: 0;
    z-index: 1968;
    article {
      &:hover {
        border-color: $text;
      }
    }
    h1:hover {
      border-color: $text;
    }
    .paths {
      top: 85px;
    }
  }
  
  section.absolute {
    top: 157px; //body padding top of 80px + h1.anchor height of 77px
    width: $w-pic;
    padding: 0;
  }
  img { 
    padding-bottom: 800px;
  }
  footer {
    padding-bottom: 140px;
  }
}