.journal-list {
  p {
    margin-bottom: 0;
  }
  a.post {
    display: block;
    &.text {
      margin-bottom: 30px;
    }
    &.picture {
      //width: 600px;
      height: 426px;
      margin: 0 auto 30px auto;
      h1 { 
        height: 426px;
        margin: 0;
        padding: 0;
      }  
    }
    &:hover {
      text-decoration: none;
      span {
        text-decoration: underline;
      }
    }

    a {
      //position: relative;
      display: block;
      //padding: 70px 0;

      //PICTURE POSTS
      &.picture {
        //img { display: inline-block; }
        img.portrait { height: 426px; }
        img.landscape { height: 320px; }
        .caption {
          width: 100%;
          position: absolute;
          top: 35%;
          z-index: 99;
          p {
            text-align: center;
            text-decoration: underline;
            visibility: hidden;
          }
        }
      }
      
      //HOVER OVER POSTS
      &:hover {
        border-bottom-color: $text;
        text-decoration: none;
        h1, span { text-decoration: underline; }
        &.picture p { visibility: visible; }
        &.picture img {
          @extend .opacity-0;
          @extend .fade-delay;
        }
      }
    }  
  }
}





//-----------------------------------------------------------ARTICLES
.journal-article {
  h1 {
  }
}



//-------------------------------------------------------------PICTURES
.journal-picture {
  h2 {
    margin-bottom: 86px;
  }
  .picture {
    img { display: inline-block; }
//    img.portrait { height: 426px; }
  }
}
