.about {

    img { width: rem(330); }

	.cover-column {
        background-image: url("/assets/images/newwcastle-2.jpg");
        margin-bottom: rem(70);
    }

    .text-column h1 {
        //margin: rem(70) 0 rem(56);
        margin-bottom: rem(21);
    }

}