// Centering an h1 image
.h1-img {
  h1 {
    width: 960px;
    padding-right: 0;
    margin-bottom: 100px;
    img {
      display: inline-block;
    }
  }
}

//-----------------------------------------------------------JOURNAL POST LIST
body.journal-list {
  header {
    position: fixed;
    z-index: 999;
//    padding-bottom: 148px;
  }
  article {
    padding-top: 190px;
  }
  .post {
    position: relative;
    display: block;
    h1 { margin-bottom: 25px; }
    p { margin-bottom: 100px; }
    //---------------------------------------------PICTURE POSTS
    &.picture {
      @extend .h1-img;
      img.portrait { height: 426px; }
      img.landscape { height: 320px; }
      .caption {
        width: 100%;
        position: absolute;
        top: 50%;
        z-index: 99;
        p {
          text-align: center;
          text-decoration: underline;
          visibility: hidden;
        }
      }
    }
    //---------------------------------------------HOVER OVER POSTS
    &:hover {
      border-bottom-color: $text;
      text-decoration: none;
      h1, span { 
        text-decoration: underline;
      }
      &.picture p {
        visibility: visible;
      }
      &.picture img {
        @extend .opacity-0;
        @extend .fade-delay;
      }
    }
  }
}





//-----------------------------------------------------------ARTICLES
body.journal-article {
//  background: top left url(back-01.jpg) no-repeat fixed;
  h1 {
    margin-bottom: 84px;
  }
}



//-------------------------------------------------------------PICTURES
body.journal-picture {
  h2 {
    margin-bottom: 86px;
  }
  .picture {
    @extend .h1-img;
//    img.portrait { height: 426px; }
  }
}
