::selection {
	background: $text;
	color: #777;
}
::-moz-selection {
	background: $text;
	color: #777;
}

img::selection {
	background: transparent;
}
img::-moz-selection {
	background: transparent;
}