.slides {
  top: 0;
  zoom: 1;
  padding-bottom: 1000px;
  img {
    //width: $w-pic;
    cursor: pointer;
  }
}

.info {
  position: relative;
  width: $w-text;
  padding: 0;
  margin: 0 auto;
  border: 0;
  height: 100%;
  z-index: 1;
  visibility: hidden;
  footer {
    width: $w-text;
    aside {
      margin-left: 0;
    }
  }
}

.expand-info .info {
  visibility: visible;
  @include transition(all 0.2s ease);
}

.expand-info nav {
  position: relative;
}

.info-visible { display: none; }
.expand-info .info-hidden, .expand-info .slides  { display: none; }
.expand-info .info-visible { display: inline; }

.info-hidden, .info-visible {
  margin-left: 24px;
}