.slides {
  top: 0;
  zoom: 1;
  img {
    width: $w-pic;
    cursor: pointer;
  }
}

.info {
  position: relative;
  width: $w-text;
  padding: 0;
  padding-left: $w-nav + 20px;
  border: 0;
  height: 100%;
  z-index: 1;
  visibility: hidden;
  &.absolute {
    top: 0;
  }
  footer {
    width: $w-text;
    aside {
      margin-left: 0;
    }
  }
}

.expand-info .info {
  visibility: visible;
  @include transition(all 0.2s ease);
}

.show-info { visibility: visible; }
.show-pictures { visibility: hidden; }

.expand-info .paths.top, .expand-info .slides.absolute  { display: none; }
.expand-info .show-pictures { visibility: visible; }

