.typeset {
  font-family: "freight-text-pro-1", "freight-text-pro-2";
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 140%;
  text-align: left;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0;
  //margin: 0;
}

.headline {
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  //margin: 0;
}


//--------------------------------------------- a
a {
  @extend .headline;
  color: $text;
  text-decoration: none;
  &:hover { 
    text-decoration: none;
    color: $link;
  }
}

nav > a {    
  @extend .headline;
}



//--------------------------------------------- p
p {
  @extend .typeset;
  margin: 0 0 20px 0;
  &.read-more {
    display: inline-block;
    text-decoration: underline;
    margin-left: .2em;
  }
  &.links {
    //padding-top: 20px;
    a {
      display: block;
      padding-left: 70px;
      background: url(link.png) no-repeat scroll 38px 50%;
      &:hover {
        background-image: url(link-h.png);
        text-decoration: underline;
      }
    } 
  }
  a {
    @extend .typeset;
    font-style: italic;
  }
  &.contact a {
    text-decoration: underline;
  }
}

//----------------------------ems & dots
span.em {
  font-family: "freight-text-pro-1", "freight-text-pro-2";
  font-size: 23px;
  font-weight: 300;
  letter-spacing: -1px;
  padding: 0;
  margin-right: 1px;
  background: none;
  &.footer {
    margin: 0 8px 0 7px;
  }
}

span.dot {
  font-size: 12px;
  padding-top: -3px;
}


//----------------------------titles
h1 {
  @extend .headline;
  padding: 0 0 20px 0;
  margin: 0;
  &.title { 
    @extend .typeset;
    font-size: 42px;
    font-weight: 500;
    line-height: 100%;
    padding-bottom: 122px;
  }
  &.title, &.title:hover { border: 0; }
}


h2 {
  @extend h1;
  &.links {
    @extend p.links;
  }
}

.paths {
  @extend .headline;
}

footer {
  h2, p {
    //color: $text-80;
  }
  a {
    //color: $text-80;
    text-decoration: none;
    &:hover {
      color: $link;
      text-decoration: underline;
    }
  }
}

button, input, select, textarea {
  @extend .typeset;
}

