.typeset {
  //font-family: 'serif72_beta_rgregular';
  //font-family: 'Avenir LT Book';
  font-family: 'arnhem_blondregular';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 140%;
  text-align: left;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0;
}

.headline-2 {
  font-family: 'arnhem_normal_scregular'; //'arnhem_bold_italic'
  text-align: center;
  letter-spacing: 1px;
}


//--------------------------------------------- a
a {
  color: $text;
  text-decoration: none;
  &:hover { 
    text-decoration: none;
    color: $link;
  }
}

.underline { a, a:hover { text-decoration: underline; } }
p > a, p > a:hover, a.project p { font-family: 'arnhem_blonditalic'; }
//p > a, p > a:hover { text-decoration: underline; }




//--------------------------------------------- p
p {
  margin: 0 0 18px 0;
  &.links {
    a {
      display: block;
      padding-left: 70px;
      background: url(link.png) no-repeat scroll 38px 45%;
      &:hover {
        background-image: url(link-h.png);
      }
    } 
  }
}



//----------------------------em dash
span {
  @extend .typeset;
  font-family: 'arnhem_black_regular';
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  &.em {
    font-family: 'arnhem_blondregular';
    letter-spacing: -2px;
    padding: 0;
    margin: 0 6px 0 3px;
    background: none;
  }
}


//----------------------------titles
h1 {
  @extend .typeset;
  font-family: 'arnhem_black_scregular';
  font-size: 21px;
  text-align: center;
  letter-spacing: 1px;
  margin: 0 0 20px 0;
  &.title { 
    font-family: 'arnhem_black_scregular'; //arnhem_normal_scregular
    font-size: 19px;
    //text-transform: uppercase;
    //letter-spacing: 0;
    
  }
}

h2 {
  @extend .typeset;
  font-family: 'arnhem_black_scregular';
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  @extend .underline;
  margin: 70px 0 20px 0;
  a { @extend h2 }
  &.subsub { 
    @extend .headline-2;
    a { @extend h2.subsub; }
  }
}

h3 {
  
}


footer {
  a, p, span, h1, h2 { text-align: center; }
  @extend .underline;
  a:hover { color: $link; }
}

button, input, select, textarea {
  @extend .typeset;
}

