/*
----------------------------------------------------------------
	V A R I A B L E S
---------------------------------------------------------------- */

/* VARIABLES --------------------------------------------------- */
/* TYPE -------------------------------------------------------- */

$color-text:    #222;
$color-text-50: #999;
$color-text-20: #ccc;
$color-link:    rgb(0,172,255); //d00
$color-back:    #fefefe; //fdfdfa

$base-font-size:   16px;
$base-line-height: 24px;

$font-size:        20px;
$line-height:      28px; //1.5

$font-reg:   'theinhardt_regular';
$font-med:   'theinhardt_lightbold';
$font-bold:  'theinhardt_bold';
$font-heavy: 'theinhardt_heavyregular';
