/* ==========================================================================
   Variables
   ========================================================================== */

@include font-face('theinhardt_regular', 'theinhardtreg-webfont');
@include font-face('theinhardt_lightbold', 'theinhardtmed-webfont');
$fontFace: 'theinhardt_regular';
$fontFaceBold: 'theinhardt_lightbold';

$fontSizeBase: 16px;
$lineHeightBase: 24px;

$cText: #000;
$cText50: #777;
$cText20: #aaa;
$cHighlight: #007aff; //#00adff; //#11b5d5;
$cBack: #fdfdfd;
