@import "compass";
@import "normalize";
@import "mixins";

//@import "fontface";
@import "typography";
@import "mfglabs_iconset";
@import "forms";
@import "links";
@import "selection";

@import "layout";
@import "footer";
@import "gallery.build";
@import "gallery.theme";
@import "imgs";
@import "subscribe";

@import "pg-about";


html, body {
    overflow-y: scroll;
    min-height: 100%;
    padding: 0;
    background-color: $cBack;
    a:link { -webkit-tap-highlight-color: rgba(255,0,0, 0.62); }
}

//body { position: relative; }