.carousel
    .banner
        %ul
            %li
                %img{:src => "assets/images/sagatiba-webpage.jpg"}
            %li
                %img.u-fitHeight{:src => "assets/images/sagatiba.jpg"}
            %li
                .grid
                    .grid-cell.unit-1-2
                        %img.u-pullRight{:src => "assets/images/brisbanearcade-1.jpg"}
                    .grid-cell.unit-1-2
                        %img.u-pullLeft{:src => "assets/images/brisbanearcade-2.jpg"}
            %li
                %img{:src => "assets/images/breaka.jpg"}
            %li
                %img.outline{:src => "assets/images/pat-rafter-trim-milk.jpg"}

