.info
    .block.block--info
        %h1
            Advertising (2000–present).
        %p
            I briefly worked for
            %a{:href => "http://www.saatchi-design.co.uk/sagatiba/"} Saatchi & Saatchi Design, London,
            where I created illustrations for Sagatiba's 2007 outdoor campaign.
            I also worked for
            %a{:href => "http://www.gpyr.com.au/"} George Patterson Bates, Brisbane,
            at the turn of the century. The Breaka logo I designed there turns fourteen years old this year.

    .block.block--infoNav
        %button.Button.Button--succinct
            %a{:href => "##posters"} &#8595; Next project

        = partial "button-home"