.carousel
    .banner
        %ul
            %li
                %img{:src => "assets/images/sagatiba-webpage.jpg"}
            %li
                %img.carouselHeight{:src => "assets/images/sagatiba.jpg"}
            %li.dualRight
                %img{:src => "assets/images/brisbanearcade-1.jpg"}                    
                %img{:src => "assets/images/brisbanearcade-2.jpg"}
            %li
                %img{:src => "assets/images/breaka.jpg"}
            %li
                %img.outline{:src => "assets/images/pat-rafter-trim-milk.jpg"}

