.carousel
    .banner
        %ul
            %li
                %img{:src => "assets/images/sagatiba-webpage.jpg"}
            %li
                .grid
                    .grid-cell.unit-1-2
                        %img.u-pullRight{:src => "assets/images/visionopera-didoaenaes.jpg"}
                    .grid-cell.unit-1-2
                        %img.u-pullLeft{:src => "assets/images/millennius-800.jpg"}
            %li
                %img{:src => "assets/images/welend-home2.jpg"}
            %li
                %img{:src => "assets/images/villagemelbourne-iphone.png"}
            %li.u-textRight
                %img.outline.fixH{:src => "assets/images/brisbanearcade-2.jpg"}
            %li.u-textRight
                %img{:src => "assets/images/boxdice-site-home1.jpg"}
            %li
                %img{:src => "assets/images/roundtable-label-birds-2.jpg"}
            %li
                %img{:src => "assets/images/logo-scatterbrain.png"}