.carousel
    .banner
        %ul
            %li
                %img{:src => "assets/images/sagatiba-webpage.jpg"}
            %li.dualRight                
                %img{:src => "assets/images/visionopera-didoaenaes.jpg"}
                %img{:src => "assets/images/millennius-800.jpg"}
            %li
                %img{:src => "assets/images/welend-home1.jpg"}
            %li
                %img{:src => "assets/images/villagemelbourne-iphone.png"}
            %li.u-textRight
                %img.fixH{:src => "assets/images/brisbanearcade-2-white.jpg"}
            %li.u-textRight
                %img{:src => "assets/images/boxdice-site-home1.jpg"}
            %li
                %img{:src => "assets/images/roundtable-label-birds-2.jpg"}
            / %li
            /     %img{:src => "assets/images/logo-scatterbrain.png"}