.carousel
    .banner
        %ul
            %li
                %img{:src => "assets/images/boxdice-logo-blue.jpg"}
            %li.bg-grey
                .retainH
                    %img.u-absoluteCenter{:src => "assets/images/boxdice-logoSuite.png"}
            %li.u-textRight
                %img{:src => "assets/images/boxdice-site-home1.jpg"}
            %li
                %img{:src => "assets/images/boxdice-site-icons.jpg"}
            %li
                %img{:src => "assets/images/boxdice-siteGrab-home.jpg"}
            %li
                %img{:src => "assets/images/boxdice-ipad-launch.jpg"}
            %li
                %img{:src => "assets/images/boxdice-favicon-itunes.jpg"}
            %li
                %img{:src => "assets/images/boxdice-boom-ui-2.jpg"}
            %li
                %img{:src => "assets/images/boxdice-communicate-crud.jpg"}
            %li
                %img.fixH{:src => "assets/images/boxdice-emailer.jpg"}
