.info
    .block.block--info
        %h1
            Box+Dice Software (2010–2012).
        %p
            Brand identity and collateral, website and web app UI design for a Real Estate CRM Software company.
            I began to transition into UI design while working within a team of Rails developers in an Agile workflow.
            Unfortunately, this identity and website has been
            %a{:href => "http://www.boxdice.com.au/"} superseded.

    .block.block--infoNav
        %button.Button.Button--succinct
            %a{:href => "##roundtablerecords"} &#8595; Next project

        = partial "button-home"