.info
    .block.block--info
        %h1
            Box+Dice Software (2010–2012).
        %p
            Brand identity, business collateral and UI design for a Real Estate CRM Software company.
            I began to transition into web and software design while working within a
            team of Rails developers in an Agile workflow.

    .block.block--infoNav
        %button.Button.Button--succinct
            %a{:href => "##posters"} &#8595; Next project

        %button.Button.Button--plain
            %a{:href => "##start"} &#8593; Top