.owl-carousel.owl-theme#owl-test
    .item
        %img{:src => "assets/images/welend-home2.jpg"}
    .item
        %img{:src => "assets/images/welend-home1.jpg"}
    .item
        %img{:src => "assets/images/welend-home-body.jpg"}
    .item
        %img{:src => "assets/images/welend-iphone.jpg"}