%nav
    .block.block--info
        %h1.major
            %span Thanks for making it this far.
        %p
            Design is a conversation. Want to start one? I'm thoroughly polite, even when I'm on
            %a{:href => "mailto:callumflack@gmail.com"} email,
            %a{:href => "https://twitter.com/callumflack"} twitter,
            %a{:href => "https://github.com/callumflack"} github
            or
            %a{:href => "http://www.linkedin.com/in/callumflack"} linkedin.
        %p
            I designed and coded this site using a Sinatra app deployed through Heroku.
            Unless stated otherwise, everything here is © Callum Flack 1998-2013.

    .block.block--infoNav
        %button.Button.Button--clear
            %a{:href => "##start"} &#8593; Start again

.carousel.u-textRight
    %img{:src => "assets/images/hi3.png"}