%footer.inside-fixed
  %h2
    %a.back-to-top{ href: "#" } Back to top
    %a.spaced{ href: "/work/#{locals[:following]}" } Next
    %a.spaced{ href: "/work" } Work
    %a.spaced{ href: "/journal" } Journal
    %a.spaced{ href: "/profile" } Profile

/ %footer.inside-fixed
/   %h2 
/     %a{:href => "#top"} Back to top
/     %span.em ——
/     %a{:href => "/work"} Work
/     %span.em ——
/     %a{:href => "/journal"} Journal
/     %span.em ——
/     %a{:href => "/profile"} Profile