%footer.inside-fixed
  %h2
    %a.back-to-top{ href: "#" } Back to top
    %a.spaced{ href: "/work" } Work
    %a.spaced{ href: "/journal" } Journal
    %a.spaced{ href: "/profile" } Profile
    
/ %footer.inside-fixed
/   %p
/     %a.back-to-top{ href: "#" } Back to top
/     %a.spaced{ href: "/work/#{locals[:following]}" } Next
/   %h2
/     %a.spaced{ href: "/work" } Work
/     %a.spaced{ href: "/journal" } Journal
/     %a.spaced{ href: "/profile" } Profile    