.carousel
    .banner
        %ul
            %li
                %img{:src => "assets/images/inbound-home1.jpg"}
            / %li
            /     %img{:src => "assets/images/inbound-home2.jpg"}
            %li
                %img{:src => "assets/images/inbound-home3.jpg"}
