.info
    .block.block--info
        %h1
            Inbound (2013).
        %p
            A homepage signup design concept for a sales automation SaaS. I designed the logo, the site's look and feel, came up with the photographic concept and wrote the copy, all in a day.

    .block.block--infoNav
        %button.Button.Button--succinct
            %a{:href => "##ipad"} &#8595; Next project

        = partial "button-home"