.info
    .block.block--info
        %h1
            iOS user interface designs (2011–current).
        %p
            I'll have more information about my iOS design work shortly.

    .block.block--infoNav
        %button.Button.Button--succinct
            %a{:href => "##advertising"} &#8595; Next project

        = partial "button-home"