.info
    .block.block--info
        %h1
            Typography & Drawing.
        %p
            Pushing typographic forms, playing with shape: these experiments are pure form,
            ready for application across communication contexts.

    .block.block--infoNav
        %button.Button.Button--succinct
            %a{:href => "##end"} &#8595; Finish

        = partial "button-home"