.carousel
    .banner
        %ul
            %li
                %img{:src => "assets/images/logo-votary-roundtable-icons.png"}
            %li
                %img{:src => "assets/images/logo-votary-roundtable.png"}
            %li
                %img{:src => "assets/images/logo-alphacat2.png"}
            %li
                %img{:src => "assets/images/logo-scatterbrain.png"}
            %li
                %img{:src => "assets/images/logo-possiblymaybe.png"}
            %li
                %img{:src => "assets/images/logo-weirdgear.png"}
