.info
    .block.block--info
        %h1
            Typography & Drawing.
        %p
            Pushing typographic forms, playing with shape: these experiments are pure form,
            ready for custom application (some have been already) or perhaps not ready at all.
        %p
            "…freedom rarely looks finished. The presence of rough edges is merely cause for further investigation." —
            %a{:href => "http://www.ribbonfarm.com/2013/08/08/on-freedomspotting/"} Venkatesh Rao

    .block.block--infoNav
        %button.Button.Button--succinct
            %a{:href => "##end"} &#8595; Finish

        = partial "button-home"