%nav.fixed
  %h1
    .location
      %a.selected= locals[:location]
    .menu
      %a.selected{ href: "/work" } Work
      %a.spaced{:href => "/journal"} Journal
      %a.spaced{:href => "/profile"} Profile