%nav.fixed
  %h1
    .location
      %a= locals[:location]
    .menu
      %a{ href: "/work" } Home
      %span.em ——
      %a.show-info{ href: "#" }
        %span.info-hidden Show information
        %span.info-visible Back to pictures
      %span.em ——
      %a{ href: "/work/#{locals[:following]}" } Next
