%nav.fixed
  %h1
    .location
      %a.selected= locals[:location]
    .menu
      %a{ href: "/work" } Work
      %a.show-info{ href: "#" }
        %span.info-hidden Show information
        %span.info-visible Back to pictures
      %a.spaced{ href: "/work/#{locals[:following]}" } Next
