#modal-12.md-modal.md-effect-12
    .md-content
        .owl-carousel.owl-theme#owl-test
            .item
                %img{:src => "assets/images/welend-home2.jpg"}
            .item
                %img{:src => "assets/images/welend-home1.jpg"}
            .item
                %img{:src => "assets/images/welend-home-body.jpg"}
            .item
                %img{:src => "assets/images/welend-iphone.jpg"}
        %p This text is blurry, why?
        
.md-overlay
    = partial "work/modal-close" 