.carousel
    .banner
        %ul
            %li
                %img.fixH{:src => "assets/images/millennius-800.jpg"}
            %li
                .grid
                    .grid-cell.unit-1-2
                        %img.u-pullRight{:src => "assets/images/visionopera-didoaenaes.jpg"}
                    .grid-cell.unit-1-2
                        %img.u-pullLeft{:src => "assets/images/arabiannight.jpg"}
            %li
                .grid
                    .grid-cell.unit-1-2
                        %img.u-pullRight{:src => "assets/images/weirdgear-02.jpg"}
                    .grid-cell.unit-1-2
                        %img.u-pullLeft{:src => "assets/images/weirdgear-05.jpg"}
            %li
                .grid
                    .grid-cell.unit-1-2
                        %img.u-pullRight{:src => "assets/images/weirdgear-03.jpg"}
                    .grid-cell.unit-1-2
                        %img.u-pullLeft{:src => "assets/images/weirdgear-04.jpg"}
