.carousel
    .banner
        %ul
            %li
                %img.fixH{:src => "assets/images/millennius-800.jpg"}
            %li.dualRight
                %img{:src => "assets/images/weirdgear-03.jpg"}
                %img{:src => "assets/images/weirdgear-04.jpg"}
            %li.dualRight
                %img{:src => "assets/images/weirdgear-02.jpg"}
                %img{:src => "assets/images/weirdgear-05.jpg"}
            %li.dualRight
                %img{:src => "assets/images/visionopera-didoaenaes.jpg"}
                %img{:src => "assets/images/arabiannight.jpg"}
