.info
    .block.block--info
        %h1
            Posters.
        %p
            A collection of posters for fashion, theatre and music events.
            Each were opportunities to play with type, shape and image
            to tell a story or create an atmosphere with reference to the intended audience.

    .block.block--infoNav
        %button.Button.Button--succinct
            %a{:href => "##logos"} &#8595; Next project

        = partial "button-home"