.carousel
    .banner
        %ul
            / %li
            /     %img{:src => "assets/images/sagatiba-webpage.jpg"}
            / %li
            /     %img.u-fitHeight{:src => "assets/images/sagatiba.jpg"}
            %li
                .grid
                    .grid-cell.unit-1-2
                        %img{:src => "assets/images/visionopera-didoaenaes.jpg"}
                    .grid-cell.unit-1-2
                        %img{:src => "assets/images/arabiannight.jpg"}
            / %li
            /     %img.u-fitHeight{:src => "assets/images/millennius-900.jpg"}
            / %li
            /     %img{:src => "assets/images/millennius-detail.jpg"}
            / %li
            /     .grid
            /         .grid-cell.unit-1-2
            /             %img{:src => "assets/images/brisbanearcade-1.jpg"}
            /         .grid-cell.unit-1-2
            /             %img{:src => "assets/images/brisbanearcade-2.jpg"}
            / %li
            /     .grid
            /         .grid-cell.unit-1-2
            /             %img.u-pullRight{:src => "assets/images/weirdgear-02.jpg"}
            /         .grid-cell.unit-1-2
            /             %img.u-pullLeft{:src => "assets/images/weirdgear-05.jpg"}
            / %li
            /     .grid
            /         .grid-cell.unit-1-2
            /             %img.u-pullRight{:src => "assets/images/weirdgear-03.jpg"}
            /         .grid-cell.unit-1-2
            /             %img.u-pullLeft{:src => "assets/images/weirdgear-04.jpg"}
            / %li
            /     %img.outline{:src => "assets/images/pat-rafter-trim-milk.jpg"}
            /
