.columnText
    %h1.List.List-number-one Reason number one.
    %p
        Website design and responsive code for a Hong Kong financial startup.
        With the identity and UI redesign currently shelved,
        I've been reconfiguring the app-wide stylesheets
        (originally built with Bootstrap) for device responsiveness and future-proofing.
        %a{:href => "http://www.welend.hk/"} Visit the site.

    .nextProject
        %a{:href => "##two"} I can also do this and this

.projectList
    .md-trigger{"data-modal" => "modal-12"} 
        .project-synopsis open carousel 
        %img{:src => "assets/images/welend.jpg"}
    
