.carousel
    .banner
        %ul
            %li
                %img{:src => "assets/images/roundtable-label-birds-2.jpg"}
            %li
                %img{:src => "assets/images/votary-mistycanyon-label2.jpg"}

            %li
                .grid
                    .grid-cell.unit-1-2
                        %img.outline{:src => "assets/images/dualplanet-tesicocomp-unused.jpg"}
                    .grid-cell.unit-1-2
                        %img{:src => "assets/images/dualplanet-cybotron-theatre-coverback-50.jpg"}
            %li
                .grid
                    .grid-cell.unit-1-2
                        %img{:src => "assets/images/roundtable-marinetti-cover.jpg"}
                    .grid-cell.unit-1-2
                        %img.outline{:src => "assets/images/roundtable-niente-cover.jpg"}
            %li
                %img{:src => "assets/images/votary-solarflares-coverback.jpg"}
            %li
                .grid
                    .grid-cell.unit-1-2
                        %img{:src => "assets/images/votary-oncearound-cover-50.jpg"}
                    .grid-cell.unit-1-2
                        %img{:src => "assets/images/roundtable-oats-unused-1.jpg"}
            %li
                %img.u-size2of3{:src => "assets/images/roundtable-oats-unused-2.jpg"}
            %li
                .grid
                    .grid-cell.unit-1-2
                        %img{:src => "assets/images/roundtable-yaraandoo-liners2.jpg"}
                    .grid-cell.unit-1-2
                        %img{:src => "assets/images/roundtable-ifuturibili-liners.jpg"}
            %li
                %img{:src => "assets/images/omni-orionbooklet.jpg"}
            %li
                %img{:src => "assets/images/roundtable-teiscocountry-liners.jpg"}
            %li
                %img{:src => "assets/images/roundtable-voix-coverback.jpg"}
            %li
                %img{:src => "assets/images/roundtable-label-birds-spin.jpg"}


