.carousel
    .banner
        %ul
            %li
                %img{:src => "assets/images/roundtable-label-birds-2.jpg"}
            %li
                %img{:src => "assets/images/votary-mistycanyon-label2.jpg"}

            %li
                .grid
                    .grid-cell.unit-1-2
                        %img{:src => "assets/images/roundtable-marinetti-cover.jpg"}
                    .grid-cell.unit-1-2
                        %img.outline{:src => "assets/images/roundtable-niente-cover.jpg"}
            %li
                .grid
                    .grid-cell.unit-1-2
                        %img{:src => "assets/images/votary-oncearound-cover-50.jpg"}
                    .grid-cell.unit-1-2
                        %img{:src => "assets/images/dualplanet-cybotron-theatre-coverback-50.jpg"}

            %li
                %img{:src => "assets/images/votary-solarflares-coverback.jpg"}
            %li
                %img{:src => "assets/images/roundtable-votary-dualplanet-labels.jpg"}
            / %li                
            /     %img.outline.dualRight{:src => "assets/images/roundtable-yaraandoo-liners2.jpg"}
            /     %img.outline.dualRight{:src => "assets/images/roundtable-ifuturibili-liners.jpg"}
            %li
                %img{:src => "assets/images/omni-booklet-3.jpg"}