.info
    .block.block--info
        %h1
            Roundtable Records, Votary Records and Dual Planet (2009–current).
        %p
            Brand identity and packaging design for a series of vinyl-only labels.
            Cumulatively near 30 releases, each label produces previously unreleased, or reissues of,
            lost Antipodean and Italian musical artifacts from bygone times.
            The label identities and their inherent suite of LPs pay tribute to the spirit of each recording's era,
            and have a
            %a{:href => "http://blog.lightintheattic.net/?p=4729"} growing
            %a{:href => "http://fingersports.blogspot.com.au/2012/02/i-futuribili.html"} reputation
            %a{:href => "https://twitter.com/AndyVotel/status/172281997308338178/photo/1"} worldwide.


    .block.block--infoNav
        %button.Button.Button--succinct
            %a{:href => "##inbound"} &#8595; Next project

        = partial "button-home"