.carousel
    .banner
        %ul
            / %li
            /     %img{:src => "assets/images/villagemelbourne-brasserie.jpg"}
            %li
                %img.fixH{:src => "assets/images/villagemelbourne-iphone.png"}
            / %li
            /     %iframe{:src => "http://player.vimeo.com/video/72624040?title=0;byline=0;portrait=0;autoplay=1;loop=1", :width => "1200", :height => "799", :frameborder => "0"}
            / %li
            /     %iframe{:src => "http://player.vimeo.com/video/72642079?title=0;byline=0;portrait=0;autoplay=1;loop=1", :width => "1024", :height => "575", :frameborder => "0"}