.carousel
    .banner
        %ul
            %li
                %img{:src => "assets/images/villagemelbourne-brasserie.jpg"}
            %li
                %img{:src => "assets/images/villagemelbourne-ormond.jpg"}
            / %li
            /     %img.u-pullRight.u-fitHeight{:src => "assets/images/sagatiba.jpg"}
            / %li
            /     .grid
            /         .grid-cell.unit-1-2
            /             %img{:src => "assets/images/dido-aenaes.jpg"}
            /         .grid-cell.unit-1-2
            /             %img{:src => "assets/images/arabiannight.jpg"}
            / %li
            /     %img.u-pullRight.u-fitHeight{:src => "assets/images/millennius-900.jpg"}
            / %li
            /     %img{:src => "assets/images/millennius-detail.jpg"}
            / %li
            /     .grid
            /         .grid-cell.unit-1-2
            /             %img{:src => "assets/images/weirdgear-02.jpg"}
            /         .grid-cell.unit-1-2
            /             %img{:src => "assets/images/weirdgear-05.jpg"}
            / %li
            /     .grid
            /         .grid-cell.unit-1-2
            /             %img{:src => "assets/images/weirdgear-03.jpg"}
            /         .grid-cell.unit-1-2
            /             %img{:src => "assets/images/weirdgear-04.jpg"}
            / %li
            /     %img{:src => "assets/images/pat-rafter-trim-milk.jpg"}
            /
