.carousel
    .banner
        %ul
            %li
                %img{:src => "assets/images/villagemelbourne-brasserie.jpg"}
            %li
                %img.fixH{:src => "assets/images/villagemelbourne-iphone.png"}
