.info
    .block.block--info
        %h1
            Village Melbourne (2013).
        %p
            Website design and responsive code for dining and music venues on St Kilda Road, Melbourne.
            Designed to showcase photography of the historic grounds and art-deco buildings. Built on Wordpress.
            %a{:href => "http://villagemelbourne.com.au/"} Visit the site.

    .block.block--infoNav
        %button.Button.Button--succinct
            %a{:href => "##boxdice"} &#8595; Next project

        = partial "button-home"