.info
    .block.block--info
        %h1
            Village Melbourne website (2013).
        %p
            Site design and build (including responsiveness) for a dining and culture venue on St Kilda Road, Melbourne.
            The site was designed to showcase photography of the historic grounds and art-deco buildings.
            Built on Wordpress in partnership with Louis Center.
            %a{:href => "http://villagemelbourne.com.au/"} Visit the site.

    .block.block--infoNav
        %button.Button.Button--succinct
            %a{:href => "##boxdice"} &#8595; Next project

        %button.Button.Button--plain
            %a{:href => "##start"} &#8593; Top