.info
    .block.block--info
        %h1
            WeLend Labs (2013).
        %p
            Website design and responsive code for a Hong Kong financial startup.
            With the identity and UI redesign currently shelved,
            I've been reconfiguring the app-wide stylesheets
            (originally built with Bootstrap) for device responsiveness and future-proofing.
            %a{:href => "http://www.welend.hk/"} Visit the site.

    .block.block--infoNav
        %button.Button.Button--succinct
            %a{:href => "##villagemelbourne"} &#8595; Next project

        = partial "button-home"