.carousel
    .banner
        %ul
            %li
                %img{:src => "assets/images/welend-home2.jpg"}
            %li
                %img{:src => "assets/images/welend-home1.jpg"}
            %li
                %img{:src => "assets/images/welend-home-body.jpg"}
            %li
                %img.fixH{:src => "assets/images/welend-iphone.jpg"}