- @body_class = "work-project"

%header
    %nav
        %a.left{:href => "/home"}
            %i.icon-arrow_left
            Home
        %a.right{:href => "/about"}
            About
            %i.icon-arrow_right
        %a{:href => "/work"}
            Callum Flack 路 Work


%article
    %section.text-column
        %h1.title Box+Dice
        %p.date Identity 路 Logo 路 Online 路 2009

        :markdown
            I worked with Box+Dice Software over two and a half years from 2009, initially consulting
            on the visual identity development and later, in a full-time position, I integrated into
            a team of developers as designer and began to learn front-end code.

    %figure.picture-column
        %img{:src => "/assets/images/box+dice-site-boom.jpg", :alt => "Box+Dice website"}

    %section.text-column
        :markdown
            I worked with Box+Dice Software over two and a half years from 2009, initially working
            exclusively on the visual identity development in conjunction with the CEO and later,
            in a full-time position, I integrated into a team of developers as front-end designer.
            I learned how to code from expert developers who'd done their 10,000 hours and while I'm
            not a programmer, I've garnered a solid foundation of HTML and CSS that have without doubt
            helped me to understand digital design and it's crucial difference in contrast with print
            communications: interactivity with purpose.

    %figure.picture-column

        %img{:src => "/assets/images/box+dice-site-ipad.jpg", :alt => "Box+Dice website nav"}
        %img.right{:src => "/assets/images/box+dice-site-app.jpg", :alt => "Box+Dice website nav"}
        %img{:src => "/assets/images/box+dice-site-pain.jpg", :alt => "Box+Dice website pain points"}
        %img.center{:src => "/assets/images/box+dice-site-footer2.jpg", :alt => "Box+Dice website footer nav"}

        %img{:src => "/assets/images/box+dice-ipad-1.jpg", :alt => "Box+Dice iPad app"}
        %img{:src => "/assets/images/box+dice-grab-2.jpg", :alt => "Box+Dice Grab website template"}
        %img{:src => "/assets/images/box+dice-blast-2.jpg", :alt => "Box+Dice Blast wireframes"}

        %img{:src => "/assets/images/box+dice-blastemail-1.jpg", :alt => "Box+Dice Blast wireframes"}
        %img{:src => "/assets/images/box+dice-blastemail-2.jpg", :alt => "Box+Dice Blast wireframes"}

    %section.text-column
        :markdown
            I now know the Box+Dice website to be riddled with small code mistakes (how else does one learn?),
            but I'm still satisfied with the application of the visual identity to the interface,
            the large scrolling pages telling the products stories simply, and the attention to small
            details like the footer hover states at the base of the product pages.

        %ul
            %li
                %a{:href => "https://www.boxdice.com.au"} Visit the Box+Dice website
            %li
                %a{:href => "/work/logos"} View the suite of associated Box+Dice logos

        :markdown
            While at Box+Dice I worked closely with the specialist iOS developers [Dangerous Pixels] (http://www.dangerouspixels.com.au/)
            to produce the interface for the Box+Dice iPad app. A terrific set of people, I also worked
            for them and continue to discuss UX and UI news with them.

    = partial "footer-work"