- @body_class = "work-carousel"

= partial "menu-b", location: "Roundtable Records", following: "websites-interfaces"

%section

  .gallery.items-3.autoplay
    .control-operator#item-1
    .control-operator#item-2
    .control-operator#item-3

    %figure.item
      / %h1 1
      %img{:src => "/assets/images/roundtable-logo.jpg", :alt => "Roundtable Records logo"}
  
    %figure.item
      / %h1 2
      %img{:src => "/assets/images/roundtable-label-birds.jpg", :alt => "Roundtable Records logo on vinyl"}

    %figure.item
      / %h1 3
      %img{:src => "/assets/images/roundtable-labels.jpg", :alt => "Discography of Roundtable Records by LP label"}
  
    .controls
      %a.control-button{:href => "#item-1"}•
      %a.control-button{:href => "#item-2"}•
      %a.control-button{:href => "#item-3"}•