- @body_class = "work-project"

= partial "menu-b", location: "Logos", following: "roundtable-records"

%section.absolute
  .slides
    %img{:src => "/assets/images/logo-box+dice.jpg", :alt => "Box+Dice Software logotype"}
    %img{:src => "/assets/images/logo-box+dice-suite.jpg", :alt => "Box+Dice Software suite of product logos"}
    %img{:src => "/assets/images/logo-votary.jpg", :alt => "Votary Records logotype"}
    %img{:src => "/assets/images/logo-votaryicon.jpg", :alt => "Votary Records logo"}
    %img{:src => "/assets/images/logo-roundtable.jpg", :alt => "Roundtable Records logo"}
    %img{:src => "/assets/images/logo-roundtable-alts.jpg", :alt => "Roundtable Records alternative logos"}
    %img{:src => "/assets/images/logo-weirdgear.jpg", :alt => "Weird Gear"}
    %img{:src => "/assets/images/logo-solarflares.jpg", :alt => "Votary Records Solar Flares"}
    %img{:src => "/assets/images/logo-dimoto.jpg", :alt => "DiMoto"}
    %img{:src => "/assets/images/logo-green.jpg", :alt => "Green"}
    %img{:src => "/assets/images/logo-feedbackcafe.jpg", :alt => "Feedback Cafe, Bob Presents and assorted logos"}
    %img{:src => "/assets/images/logo-alphacat.jpg", :alt => "Alpha Cat"}
    %img{:src => "/assets/images/logo-butterbeats.jpg", :alt => "Butter Beats"}
    %img{:src => "/assets/images/logo-vgminus.jpg", :alt => "VG Minus"}
    %img{:src => "/assets/images/logo-scatterbrain.jpg", :alt => "Scatter Brain"}
    %img{:src => "/assets/images/logo-possiblymaybe.jpg", :alt => "Possibly Maybe"}
    
    %article
      .inset
        %h1.title Playing with type since 1998.
        %p
          The
          %a{:href => "https://www.boxdice.com.au"} Box+Dice
          logo suite (shown first) is the only logo system that caters for the needs of a businesses communications, and one which grew as the company grew while I was engaged with them. The primary logo is shown on dark and light backgrounds, and with the associated family of product logos. Premium blue and clean pearl shades work beside custom and adjusted lettering and a family of typefaces for all communications. The logo suite is the foundation for the Box+Dice brand.
        %p The remaining logos, while used in colour in respective communications, are shown here as studies in form: customised and newly created lettering, attentive execution, focused ideation with references to archive material, small and large reproduction capabilities; all are fun and play to me.

        = partial "footer-work", following: "consumer-goods"