- @body_class = "work-project"

%nav.fixed
  .location
    %h1
      %a{:href => "/work/roundtable-records"} Logos
  .menu
    %h1
      %a{:href => "/work"} Work
      /%a.spaced{:href => "/profile"} Profile
      %span.em ——
      %a.show-pictures{:href => "/work"} Back to pictures
      %a.show-info{:href => "/work"} Show information
      %span.em ——
      %a{:href => "/journal"} Next
      /%a.spaced{:href => "/work"} Previous
    
%section.absolute
  .slides 
    %img{:src => "/assets/images/logo-box+dice.png", :alt => "Box+Dice Software logotype"}
    %img{:src => "/assets/images/logotype-votary.png", :alt => "Votary Records logotype"}
    %img{:src => "/assets/images/logo-votary.png", :alt => "Votary Records logo"}
    %img{:src => "/assets/images/logo-roundtable.png", :alt => "Roundtable Records logo"}
    %img{:src => "/assets/images/logo-roundtable-alts.png", :alt => "Roundtable Records alternative logos"}
    %img{:src => "/assets/images/logo-weirdgear.png", :alt => "Weird Gear"}
    %img{:src => "/assets/images/logo-solarflares.png", :alt => "Votary Records Solar Flares"}
    %img{:src => "/assets/images/logo-dimoto.png", :alt => "DiMoto"}
    %img{:src => "/assets/images/logo-green.png", :alt => "Green"}
    %img{:src => "/assets/images/logo-feedbackcafe.png", :alt => "Feedback Cafe, Bob Presents and assorted logos"}
    %img{:src => "/assets/images/logo-alphacat.png", :alt => "Alpha Cat"}
    %img{:src => "/assets/images/logo-butterbeats.png", :alt => "Butter Beats"}
    %img{:src => "/assets/images/logo-vgminus.png", :alt => "VG Minus"}
    %img{:src => "/assets/images/logo-scatterbrain.png", :alt => "Scatter Brain"}
    %img{:src => "/assets/images/logo-bikelabel.png", :alt => "Colouring-in"}
    %img{:src => "/assets/images/logo-possiblymaybe.png", :alt => "Possibly Maybe"}
    
  %article.info
    /%h3 2009-2012
    %p And they were tracking that and they were going to adopt that too. In other words, they were going to move the Fiat 500 into emergent demographic groups. This was the way forward. They were looking for emergent consumer groups and they were going to move the car into their social space year by year. And such and such and so on and on.
    %p.links
      %a{:href => "https://twitter.com/callumflack"} Download a PDF case study of this project
      %a{:href => "https://twitter.com/callumflack"} Visit the business website
    %p And they were tracking that and they were going to adopt that too. In other words, they were going to move the Fiat 500 into emergent demographic groups. This was the way forward. They were looking for emergent consumer groups and they were going to move the car into their social space year by year. I thought this is a really clever idea. I thought I’m in a society that’s going to do a lot of this. 

    %footer.inside-fixed     
      %h2 
        i design effective experiences for print & screen.
      %p
        %a{:href => "mailto:callumflack@gmail.com"} Start a conversation with me to discuss a project.