- @body_class = "work-project"

%nav.fixed
  .location
    %h1
      %a{:href => "/work/posters-for-culture"} Posters for music, culture & a spirit drink
  .menu
    %h1
      %a{:href => "/work"} Work
      %span.em ——
      %a.show-pictures{:href => "/work"} Back to pictures
      %a.show-info{:href => "/work"} Show information
      %span.em ——
      %a{:href => "/work/records"} Next
    
%section.absolute
  .slides 
    %img{:src => "/assets/images/didoAenaes.png", :alt => "Dido & Aenaes poster for Vision Opera"}
    %img{:src => "/assets/images/millennius.png", :alt => "Poster for the Millennius Fashion Event, 1998"}
    %img{:src => "/assets/images/millennius-detail.png", :alt => "Details of Millennius poster"}
    %img{:src => "/assets/images/sagatiba-01.png", :alt => "Sagatiba campaign poster for Saatchi Design, London"}
    %img{:src => "/assets/images/sagatiba-webpage.png", :alt => "Sagatiba campaign on the Saatchi Design website"}
    %img{:src => "/assets/images/arabianNight.png", :alt => "Arabian Nights play poster for SBW Stables Theatre"}
    %img{:src => "/assets/images/weirdgear-02.png", :alt => "Weird Gear Brisbane, 2009"}
    %img{:src => "/assets/images/weirdgear-03.png", :alt => "Weird Gear Brisbane, 2009"}
    %img{:src => "/assets/images/weirdgear-04.png", :alt => "Weird Gear Brisbane, 2009"}
    %img{:src => "/assets/images/weirdgear-01.png", :alt => "Weird Gear Brisbane, 2009"}
    %img{:src => "/assets/images/weirdgear-05.png", :alt => "Weird Gear Brisbane, 2009"}
    %img{:src => "/assets/images/weirdgear-07.png", :alt => "Weird Gear Melbourne 2008"}    
    %img{:src => "/assets/images/watchyourstep-01.png", :alt => "Watch Your Step"}
    %img{:src => "/assets/images/radiovalerie-01.png", :alt => "Radio Valerie"}
    %img{:src => "/assets/images/theindividual-policeman.png", :alt => "Eggleston"}
    %img{:src => "/assets/images/theindividual-policeman-detail.png", :alt => "Eggleston"}
    
    
  %article.info
    /%h3 2009-2012
    %p And they were tracking that and they were going to adopt that too. In other words, they were going to move the Fiat 500 into emergent demographic groups. This was the way forward. They were looking for emergent consumer groups and they were going to move the car into their social space year by year. And such and such and so on and on.
    %p.links
      %a{:href => "https://twitter.com/callumflack"} Download a PDF case study of this project
      %a{:href => "https://twitter.com/callumflack"} Visit the business website
    %p And they were tracking that and they were going to adopt that too. In other words, they were going to move the Fiat 500 into emergent demographic groups. This was the way forward. They were looking for emergent consumer groups and they were going to move the car into their social space year by year. I thought this is a really clever idea. I thought I’m in a society that’s going to do a lot of this. 

    %footer.inside-fixed     
      %h2 
        i design effective experiences for print & screen.
      %p
        %a{:href => "mailto:callumflack@gmail.com"} Start a conversation with me to discuss a project.