- @body_class = "work-project"

= partial "menu-b", location: "Poster Campaigns for Theatre", following: "consumer-goods"

%a#top
%section.absolute
  .slides
    %img.portrait{:src => "/assets/images/dido-aenaes.jpg", :alt => "Dido & Aenaes poster for Vision Opera"}
    %img.portrait{:src => "/assets/images/sagatiba.jpg", :alt => "Sagatiba campaign poster for Saatchi Design, London"}
    %img{:src => "/assets/images/sagatiba-webpage.jpg", :alt => "Sagatiba campaign on the Saatchi Design website"}
    %img.portrait{:src => "/assets/images/millennius.jpg", :alt => "Poster for the Millennius Fashion Event, 1998"}
    %img{:src => "/assets/images/millennius-detail.jpg", :alt => "Details of Millennius poster"}
    %img.portrait{:src => "/assets/images/arabiannight.jpg", :alt => "Arabian Nights play poster for SBW Stables Theatre"}
    %img.portrait{:src => "/assets/images/theindividual-policeman.jpg", :alt => "Entry for Semi-Permanent's 'The individual' competition"}
    %img{:src => "/assets/images/theindividual-policeman-detail.jpg", :alt => "Custom typeface used for 'The individual'"}
    %article
      .inset
        %h1.title Poster Campaigns for Theatre
        %p While in London, I worked at an ethnic minority consultancy and I produced a series of posters for Vision Opera while working there, the Dido & Aenaes being my favourite.
        %p
          I also worked at Saatchi & Saatchi's Design house in London, where I produced the Sagatiba work after being let loose on a month's work of Brazil photographs and the line "spirit of Brazil".
          %a{:href => "http://www.saatchi-design.co.uk/sagatiba/"} Visit Sagatiba on Saatchi Design's website.

        = partial "footer-work", following: "consumer-goods"
