- @body_class = "work-project"

= partial "menu-b", location: "Publications", following: "posters-for-vinyl-collectors"

%section.absolute
  .slides
    %img{:src => "/assets/images/citywide-annualreport-1.jpg", :alt => "Citywide Annual Report 2012"}
    %img{:src => "/assets/images/citywide-annualreport-2.jpg", :alt => "Citywide Annual Report 2012"}
    %img{:src => "/assets/images/citywide-annualreport-3.jpg", :alt => "Citywide Annual Report 2012"}
    %img{:src => "/assets/images/citywide-annualreport-4.jpg", :alt => "Citywide Annual Report 2012"}
    %img{:src => "/assets/images/citywide-annualreport-5.jpg", :alt => "Citywide Annual Report 2012"}
    %img{:src => "/assets/images/citywide-annualreport-7.jpg", :alt => "Citywide Annual Report 2012"}
    %img{:src => "/assets/images/citywide-annualreport-9.jpg", :alt => "Citywide Annual Report 2012"}
    %img{:src => "/assets/images/citywide-annualreport-10.jpg", :alt => "Citywide Annual Report 2012"}
    %img{:src => "/assets/images/citywide-annualreport-12.jpg", :alt => "Citywide Annual Report 2012"}

    %img{:src => "/assets/images/omni-booklet-1.jpg", :alt => "Orion 2000 CD booklet for Omni Records"}
    %img{:src => "/assets/images/omni-booklet-3.jpg", :alt => "Orion 2000 CD booklet for Omni Records"}
    %img{:src => "/assets/images/omni-booklet-4.jpg", :alt => "Orion 2000 CD booklet for Omni Records"}
    %img{:src => "/assets/images/omni-booklet-6.jpg", :alt => "Orion 2000 CD booklet for Omni Records"}

    %img{:src => "/assets/images/lifelounge-for-fosters-1.jpg", :alt => "Lifelounge brand research book for Fosters"}
    %img{:src => "/assets/images/lifelounge-for-fosters-2.jpg", :alt => "Lifelounge brand research book for Fosters"}
    
    %article
      .inset
        %h1.title Fosters, Citywide & Omni
        %p
          I recently completed the Citywide Annual Report for while working at my current employer,
          %a{:href => "http://www.ellisjones.com.au/"} Ellis Jones.
          I provided a cleaner, bolder graphic styling with a flexible grid system that allowed for better use of the page area and integration of images with typography. 
        %p.links
          %span.bullet •
          %a{:href => "http://citywide.com.au/aboutus/annualreports.aspx"} Visit the Citywide site for the full report
        %p.first The booklet for Omni's CD edition of the famed German library recording, 'Orion 2000' by the Orchestra Peter Thomas, was a chance for me to reconfigure the simple shape icons found on vintage synthesizers of the kind that were also used on the recording.
        %p The last two images are examples from a branding research document for Fosters, produced while freelancing at Lifelounge. I designed and produced the 215 page project, including picture research.
      = partial "footer-work", following: "consumer-goods"