- @body_class = "work-project"

%nav.fixed
  .location
    %h1
      %a{:href => "/work/records"} Votary Records, etc
  .menu
    %h1
      %a{:href => "/work"} Work
      %span.em ——
      %a.show-pictures{:href => "/work"} Back to pictures
      %a.show-info{:href => "/work"} Show information
      %span.em ——
      %a{:href => "/work/publications"} Next
    
%section.absolute
  .slides 
    %img{:src => "/assets/images/votary-solarflares-back.jpg", :alt => "Votary Records Solar Flares LP back cover"}
    %img.square{:src => "/assets/images/votary-solarflares-front.jpg", :alt => "Votary Records Solar Flares LP cover"}
    %img{:src => "/assets/images/votary-solarflares-label.jpg", :alt => "Votary Records Solar Flares record label"}
    %img{:src => "/assets/images/votary-solarflares-label-2.jpg", :alt => "Votary Records Solar Flares record label"}
    %img{:src => "/assets/images/votary-mistycanyon.jpg", :alt => "Votary Records Misty Canyon 45"}
    %img{:src => "/assets/images/votary-innerspacedvd.jpg", :alt => "Votary Records Inner Space DVD booklet cover for MadMan"}
    %img.square{:src => "/assets/images/theperfections-front.jpg", :alt => "The Perfections LP cover"}
    %img.square{:src => "/assets/images/theperfections-back.jpg", :alt => "The Perfections LP back"}
    %img{:src => "/assets/images/theperfections-poster.jpg", :alt => "The Perfections poster template"}
    %img{:src => "/assets/images/bulletproofcrates-rocmarciano.jpg", :alt => "Bullet Proof Crates 45"}
    
  %article.info
    /%h3 2009-2012
    %p And they were tracking that and they were going to adopt that too. In other words, they were going to move the Fiat 500 into emergent demographic groups. This was the way forward. They were looking for emergent consumer groups and they were going to move the car into their social space year by year. And such and such and so on and on.
    %p.links
      %a{:href => "https://twitter.com/callumflack"} Download a PDF case study of this project
      %a{:href => "https://twitter.com/callumflack"} Visit the business website
    %p And they were tracking that and they were going to adopt that too. In other words, they were going to move the Fiat 500 into emergent demographic groups. This was the way forward. They were looking for emergent consumer groups and they were going to move the car into their social space year by year. I thought this is a really clever idea. I thought I’m in a society that’s going to do a lot of this. 

    %footer.inside-fixed     
      %h2 
        i design effective experiences for print & screen.
      %p
        %a{:href => "mailto:callumflack@gmail.com"} Start a conversation with me to discuss a project.