- @body_class = "work-project"

%nav.fixed
  .location
    %h1
      %a{:href => "/work/roundtable-records"} Roundtable Records
  .menu
    %h1
      %a{:href => "/work"} Work
      %span.em ——
      %a.show-pictures{:href => "/work"} Back to pictures
      %a.show-info{:href => "/work"} Show information
      %span.em ——
      %a{:href => "/work/websites-interfaces"} Next
    
%section.absolute
  .slides 
    %img{:src => "/assets/images/roundtable-logo.jpg", :alt => "Roundtable Records logo"}
    %img{:src => "/assets/images/roundtable-label-birds.jpg", :alt => "Roundtable Records logo on vinyl"}
    %img{:src => "/assets/images/roundtable-labels.jpg", :alt => "Discography of Roundtable Records by LP label"}
    %img.square{:src => "/assets/images/roundtable-niente.jpg", :alt => "Roundtable Records Niente LP cover"}
    %img{:src => "/assets/images/roundtable-niente-back.jpg", :alt => "Roundtable Records Niente LP back"}
    %img{:src => "/assets/images/roundtable-oncearoundthesun-front.jpg", :alt => "Roundtable Records Once Around The Sun LP front"}
    %img.marinetti{:src => "/assets/images/roundtable-marinetti-cover.jpg", :alt => "Roundtable Records Marinetti front cover"}
    %img{:src => "/assets/images/roundtable-marinetti-back.jpg", :alt => "Roundtable Records Marinetti back cover"}
    %img{:src => "/assets/images/roundtable-yaraandoo-label.jpg", :alt => "Roundtable Records Yaraandoo LP label"}
    %img{:src => "/assets/images/roundtable-miracles-label.jpg", :alt => "Roundtable Records Miracles LP label"}
    
    %img{:src => "/assets/images/roundtable-yaraandoo-liners.jpg", :alt => "Roundtable Records Yaraandoo liner notes"}
    %img{:src => "/assets/images/roundtable-teisco-liners.jpg", :alt => "Roundtable Records Teisco liner notes"}
    %img{:src => "/assets/images/roundtable-voix-liners.jpg", :alt => "Roundtable Records Voix liner notes"}
    %img{:src => "/assets/images/roundtable-orion2000-liners.jpg", :alt => "Roundtable Records Orion 2000 liner notes"}

    %img{:src => "/assets/images/roundtable-stickers.jpg", :alt => "Roundtable Records Teisco LP sticker"}
    %img{:src => "/assets/images/roundtable-teisco-sticker.jpg", :alt => "Roundtable Records Teisco LP sticker"}

    %img{:src => "/assets/images/roundtable-ifuturibili-back.jpg", :alt => "Roundtable Records I Futuribili LP back"}
    %img{:src => "/assets/images/roundtable-voix-back.jpg", :alt => "Roundtable Records Voix LP back"}
        
  %article.info
    %p 
      As a vinyl hound for the last 15 years, I've met many fellow collectors the world wide round. After moving to Melbourne in 2007, it didn't take long before I bumped into James Pianta, who shared my own enthusiasm for all things pressed on a record. He had already begun reissuing records but was short designer to manage his next set of projects and after a short period, we'd revised the look and feel of his primary label, 
      %a{:href => "http://www.votarydisk.com/"} Votary Records.    
    %p James began a new label called Roundtable Records in 2009 and I was asked to provide the look and feel of the label. At present the discography is at 10 LPs, with another 3 in production and a list of projects in waiting.
    %p.links
      %span.bullet •
      %a{:href => "http://thee-roundtable.com/"} Visit the Roundtable Records website
    %p Some releases are reissued recordings while others are first issues of recordings that were lost and found. We always used the original cover art (we don't want to take away from the music and it's history) but incorporated it into an LP template system so that each release is obviously Roundtable.
    %p Our releases are now widely available in reputed records shops throughout Europe and the USA. Only 10% of the pressings are made available in Australia.

    %footer.inside-fixed     
      %h2 
        i design effective experiences for print & screen.
      %p
        %a{:href => "mailto:callumflack@gmail.com"} Start a conversation with me to discuss a project.