- @body_class = "work-project"

%nav.fixed
  .location
    %h1
      %a{:href => "/work/roundtable-records"} Roundtable Records
  .menu
    %h1
      %a{:href => "/work"} Work
      /%a.spaced{:href => "/profile"} Profile
      %span.em ——
      %a.show-pictures{:href => "/work"} Back to pictures
      %a.show-info{:href => "/work"} Show information
      %span.em ——
      %a{:href => "/journal"} Next
      /%a.spaced{:href => "/work"} Previous
    
%section.absolute
  .slides 
    %img{:src => "/assets/images/roundtable-logo.png", :alt => "Roundtable Records logo"}
    %img{:src => "/assets/images/roundtable-label-birds.png", :alt => "Roundtable Records logo on vinyl"}
    %img{:src => "/assets/images/roundtable-labels.png", :alt => "Discography of Roundtable Records by LP label"}
    %img{:src => "/assets/images/roundtable-niente.png", :alt => "Roundtable Records Niente LP cover"}
    %img{:src => "/assets/images/roundtable-niente-back.png", :alt => "Roundtable Records Niente LP back"}
    /%img{:src => "/assets/images/roundtable-oncearoundthesun-cover.png", :alt => "Roundtable Records Once Around The Sun LP cover"}
    %img{:src => "/assets/images/roundtable-oncearoundthesun-front.png", :alt => "Roundtable Records Once Around The Sun LP front"}
    %img{:src => "/assets/images/roundtable-marinetti-cover.png", :alt => "Roundtable Records Marinetti front cover"}
    %img{:src => "/assets/images/roundtable-marinetti-back.png", :alt => "Roundtable Records Marinetti back cover"}
    %img{:src => "/assets/images/roundtable-yaraandoo-label.png", :alt => "Roundtable Records Yaraandoo LP label"}
    %img{:src => "/assets/images/roundtable-miracles-label.png", :alt => "Roundtable Records Miracles LP label"}
    
    %img{:src => "/assets/images/roundtable-yaraandoo-liners.png", :alt => "Roundtable Records Yaraandoo liner notes"}
    %img{:src => "/assets/images/roundtable-teisco-liners.png", :alt => "Roundtable Records Teisco liner notes"}
    %img{:src => "/assets/images/roundtable-voix-liners.png", :alt => "Roundtable Records Voix liner notes"}
    %img{:src => "/assets/images/roundtable-orion2000-liners.png", :alt => "Roundtable Records Orion 2000 liner notes"}

    %img{:src => "/assets/images/roundtable-stickers.png", :alt => "Roundtable Records Teisco LP sticker"}
    %img{:src => "/assets/images/roundtable-teisco-sticker.png", :alt => "Roundtable Records Teisco LP sticker"}

    %img{:src => "/assets/images/roundtable-ifuturibili-back.png", :alt => "Roundtable Records I Futuribili LP back"}
    %img{:src => "/assets/images/roundtable-voix-back.png", :alt => "Roundtable Records Voix LP back"}
        
  %article.info
    /%h3 2009-2012
    %p And they were tracking that and they were going to adopt that too. In other words, they were going to move the Fiat 500 into emergent demographic groups. This was the way forward. They were looking for emergent consumer groups and they were going to move the car into their social space year by year. And such and such and so on and on.
    %p.links
      %a{:href => "https://twitter.com/callumflack"} Download a PDF case study of this project
      %a{:href => "https://twitter.com/callumflack"} Visit the business website
    %p And they were tracking that and they were going to adopt that too. In other words, they were going to move the Fiat 500 into emergent demographic groups. This was the way forward. They were looking for emergent consumer groups and they were going to move the car into their social space year by year. I thought this is a really clever idea. I thought I’m in a society that’s going to do a lot of this. 

    %footer.inside-fixed     
      %h2 
        i design effective experiences for print & screen.
      %p
        %a{:href => "mailto:callumflack@gmail.com"} Start a conversation with me to discuss a project.