- @body_class = "work-project"

= partial "menu", location: "Websites & Interfaces", following: "posters"

%section.absolute
  .slides
    %img{:src => "/assets/images/box+dice-site-1.jpg", :alt => "Box+Dice website"}
    %img{:src => "/assets/images/box+dice-site-2.jpg", :alt => "Box+Dice website"}
    %img{:src => "/assets/images/box+dice-site-3.jpg", :alt => "Box+Dice website"}
    %img{:src => "/assets/images/box+dice-site-4.jpg", :alt => "Box+Dice website"}
    %img{:src => "/assets/images/box+dice-site-5.jpg", :alt => "Box+Dice website"}
    %img{:src => "/assets/images/box+dice-site-7.jpg", :alt => "Box+Dice website"}
    %img{:src => "/assets/images/box+dice-grab-2.jpg", :alt => "Box+Dice Grab website template"}
    %img{:src => "/assets/images/box+dice-grab-1.jpg", :alt => "Box+Dice Grab website template"}
    %img{:src => "/assets/images/box+dice-ipad-1.jpg", :alt => "Box+Dice iPad app"}
    %img{:src => "/assets/images/box+dice-ipad-2.jpg", :alt => "Box+Dice iPad app"}
    %img{:src => "/assets/images/box+dice-blast-1.jpg", :alt => "Box+Dice Blast wireframes"}
    %img{:src => "/assets/images/box+dice-blast-2.jpg", :alt => "Box+Dice Blast wireframes"}
    %img{:src => "/assets/images/box+dice-blast-3.jpg", :alt => "Box+Dice Blast wireframes"}
    %img{:src => "/assets/images/box+dice-blastemail-1.jpg", :alt => "Box+Dice Blast wireframes"}
    %img{:src => "/assets/images/box+dice-blastemail-2.jpg", :alt => "Box+Dice Blast wireframes"}
    %img{:src => "/assets/images/dangerouspixels-1.jpg", :alt => "iPad user interface for a health app"}

  %article.info
    %p I worked with Box+Dice Software over two and a half years from 2009, initially working exclusively on the visual identity development in conjunction with the CEO and later, in a full-time position, I integrated into a team of developers as front-end designer. I learned how to code from expert developers who'd done their 10,000 hours and while I don't see it as my priority, I've garnered a solid foundation of HTML and CSS that have without doubt helped me to understand digital design and it's crucial difference in contrast with print communications: interactivity with purpose.
    %p I now know the Box+Dice website to be riddled with small code mistakes (how else does one learn?), but I'm still satisfied with the application of the visual identity to the interface, the large scrolling pages telling the products stories simply, and the attention to small details like the footer hover states at the base of the product pages.
    %p.links
      %span.bullet •
      %a{:href => "https://www.boxdice.com.au"} Visit the Box+Dice website
      %br
      %span.bullet •
      %a{:href => "/work/logos"} View the suite of associated Box+Dice logos      
    %p.first
      While at Box+Dice I worked closely with the specialist iOS developers
      %a{:href => "http://www.dangerouspixels.com.au/"} Dangerous Pixels
      to produce the interface for the Box+Dice iPad app. A terrific set of people, I also worked for them and continue to discuss UX and UI news with them. 

    %footer.inside-fixed
      %h2
        i design effective experiences for print & screen.
      %p
        %a{:href => "mailto:callumflack@gmail.com"} Start a conversation with me to discuss a project.