- @body_class = "work-project"

.frame
  .article-title
    .fixed
      %h1 Roundtable Records
  .article-nav
    .fixed
      %a.slide-on{:href => "/work"} Info
      /%a.slide-off{:href => "/work"} Pictures    
  
  %article  
    %img{:src => "/assets/images/Eggleston.jpg", :alt => "Eggleston"}
    %img{:src => "/assets/images/dicorcia.jpg", :alt => "Eggleston"}
    %img{:src => "/assets/images/profile.jpg", :alt => "Eggleston"}