- @body_class = "work"

%header
  %nav
    %a.selected{:href => "/work"} Work
    %a{:href => "/journal"} Journal
    %a{:href => "/profile"} Profile

.frame
  .article-nav
    %a.slide-off{:href => "/work"} Info
    / %a.slide-on{:href => "/work"} Pictures
  
  %article
    %h1 Work: 3 new LPs for Madhuti
    %img{:src => "/assets/images/Eggleston.jpg", :alt => "Eggleston"}