  %ul
    %li
      %a{:href => "/work/roundtable-records"} Identity & Packaging — Roundtable Records
      %img{:src => "/assets/images/project-rt.png", :alt => "Roundtable Records"}
    %a{:href => "/work/roundtable-records"}
      %img{:src => "/assets/images/project-rt.png", :alt => "Roundtable Records"}
      %li Identity & Packaging — Roundtable Records


//.work {
//  ul {
//    display: block;
//    width: 632px;
//    -webkit-margin-before: 0;
//    -webkit-margin-after: 0;
//    -webkit-margin-start: 0px;
//    -webkit-margin-end: 0px;
//    -webkit-padding-start: 0;
//    padding-left: 268px;
//    list-style: none;
//    a {
//      //display: inline;
//      width: 100%;
//      height: 100%;
//      img { 
//        display: inline;
//        margin-right: 12px;
//        @extend .opacity-0;
//      }
//      &:hover { 
//        img { @extend .opacity-100; }
//      }
//    }
//    li {
//      //display: inline;
//      width: 100%;
//      padding-bottom: 20px;
//      font-size: 1.9em;
//      text-align: left;
//      list-style-type: none;
//      text-decoration: none;
//      li:hover { text-decoration: underline; }
//    }
//  }
//}