.img-center
  %a{:href => "/journal/a-paraphrased-sterling-article"}
    %img.left{:src => "assets/images/ArabianNight.jpg", :alt => "Arabian Night"}
  %a{:href => "/journal/a-paraphrased-sterling-article"}
    %img.middle{:src => "assets/images/DidoAenaes-1.jpg", :alt => "Arabian Night"}
  %a{:href => "/journal/a-paraphrased-sterling-article"}
    %img.right{:src => "assets/images/WYS1201~01.jpg", :alt => "Arabian Night"}
.slide-details Yada yada yada, blah blah blah.